
<template>
    <div class="p-4 admin-shop-product">
        <Loader v-if="loading" :overlay="true"/>
        <div class="d-flex align-items-center justify-content-between">
            <h4 class="fw-bolder">{{ operator.id ? 'Uredi ' + operator.full_name : 'Nov operator' }}</h4>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-12 fw-bold pt-3">Podatki operatorja</div>
                <div class="col-lg-6 col-12">
                    <Input v-model="operator.name"
                           :error="errors.name"
                           label="Ime:"
                           placeholder="Janez"
                           border-type="shadow"
                    />
                </div>
                <div class="col-lg-6 col-12">
                    <Input v-model="operator.surname"
                           :error="errors.surname"
                           label="Priimek:"
                           placeholder="Novak"
                           border-type="shadow"
                    />
                </div>
                <div class="col-lg-5 col-12">
                    <Input v-model="operator.password"
                           :error="errors.password"
                           label="Geslo:"
                           placeholder="132"
                           border-type="shadow"
                    />
                </div>
                <div class="col-lg-4 col-12">
                    <Input v-model="operator.vat_number"
                           :error="errors.vat_number"
                           label="Davčna številka:"
                           placeholder="12345678"
                           border-type="shadow"
                    />
                </div>
                <div class="col-lg-3 col-12">
                    <div class="wpm-input-component">
                        <label>Status:</label>
                        <Toggle v-model="operator.active"  :options="status_options"/>

                    </div>
                </div>
            </div>
        </div>


        <div class="d-flex justify-content-between align-items-start gap-4 mt-4 flex-wrap">
            <button class="buttonNoStyle text-decoration-underline" @click="$emit('close-add')">Nazaj</Button>
            <div class="d-flex gap-3">
                <Button v-if="operator.id"
                        custom-class="wpm-btn-component--danger"
                        @click="remove">Odstrani
                </Button>
                <Button custom-class="wpm-btn-component--main"
                        @click="store">Shrani
                </Button>
            </div>
        </div>
    </div>
</template>

<script>
import {clear_errors, err_format} from "wpm-starter";

export default {
    name: "EditOperator",
    props: {
        businessUnit: Object,
        selectedOperator: String | Number,
    },
    data() {
        const initializeOperator = () => ({
            id: this.selectedOperator,
            name: null,
            surname: null,
            vat_number: null,
            password: null,
            active: false,
            business_unit_id: this.businessUnit.id,
        });

        return {
            operator: initializeOperator(),
            errors: initializeOperator(),
            loading: false,
            status_options: [
                {
                    label: "Aktiven",
                    value: true,
                },
                {
                    label: "Neaktiven",
                    value: false,
                }
            ]
        }
    },
    methods: {
        load() {
            this.loading = true;
            let url = "/api/operator/show/" + this.selectedOperator;
            axios
                .get(url)
                .then(({data}) => {
                    this.operator = data.data;
                })
                .catch(error => {
                    this._handleErrorNotification(error);
                }).finally(() => {
                this.loading = false;
            });
        },
        remove() {
            let url = "/api/operator/delete/" + this.operator.id;
            axios
                .delete(url)
                .then(({data}) => {
                    this._success(data.message);
                    this.$emit("close-add")
                    this.$emit("reload");
                })
                .catch(error => {
                    this._handleErrorNotification(error);
                }).finally(() => {
                this.loading = false;
            });
        },
        store() {
            let url = "/api/operator/store";
            clear_errors(this.errors)

            axios
                .post(url, this.operator)
                .then(({data}) => {
                    this._success(data.message);
                    this.$emit("close-add")
                    this.$emit("reload");
                })
                .catch(({response}) => {
                    let {status, data} = response;
                    let {errors, message} = data;

                    if (status === 422) {
                        this.errors = err_format(errors);
                    } else {
                        this._error(message);
                    }
                }).finally(() => {
                this.loading = false;
            });
        }
    },
    mounted() {
        if (this.selectedOperator)
            this.load();
    }
}
</script>


<style scoped lang="scss">

</style>