<template>
    <div class="p-4 admin-shop-product">
        <Loader v-if="loading" :overlay="true"/>
        <div class="d-flex align-items-center justify-content-between">
            <h4 class="fw-bolder">{{ register.id ? 'Uredi ' + register.intern_name : 'Nova elektronska naprava' }}</h4>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-12 fw-bold pt-3">Podatki naprave</div>
                <div class="col-lg-4">
                    <Input v-model="register.intern_name"
                           :error="errors.intern_name"
                           label="Interno ime:"
                           placeholder="Blagajna - pisarna"
                           border-type="shadow"
                    />
                </div>
                <div class="col-lg-4 col-12">
                    <Input v-model="register.name"
                           :error="errors.name"
                           label="Ime naprave"
                           placeholder="Blagajna 6"
                           border-type="shadow"
                    />
                </div>
                <div class="col-lg-4 col-12">
                    <Input v-model="register.number"
                           :error="errors.number"
                           label="Številka naprave:"
                           placeholder="B2"
                           border-type="shadow"
                    />
                </div>
                <div class="col-12">
                    <Input v-model="register.description"
                           :error="errors.description"
                           label="Opis naprave"
                           placeholder="Naprava namenjena prodaji na recepciji."
                           border-type="shadow"
                    />
                </div>
            </div>
        </div>


        <div class="d-flex justify-content-between align-items-start gap-4 mt-4 flex-wrap">
            <button class="buttonNoStyle text-decoration-underline" @click="$emit('close-add')">Nazaj</Button>
            <div class="d-flex gap-3">
                <Button v-if="register.id"
                        custom-class="wpm-btn-component--danger"
                        @click="remove">Odstrani
                </Button>
                <Button custom-class="wpm-btn-component--main"
                        @click="store">Shrani
                </Button>
            </div>
        </div>
    </div>
</template>

<script>
import {clear_errors, err_format} from "wpm-starter";

export default {
    name: "EditRegister",
    props: {
        businessUnit: Object,
        selectedRegister: String | Number,
    },
    data() {
        const initializeRegister = () => ({
            id: this.selectedRegister,
            name: null,
            intern_name: null,
            number: null,
            description: null,
            business_unit_id: this.businessUnit.id,
        });

        return {
            register: initializeRegister(),
            errors: initializeRegister(),
            loading: false,
        }
    },
    methods: {
        load() {
            this.loading = true;
            let url = "/api/register/show/" + this.selectedRegister;
            axios
                .get(url)
                .then(({data}) => {
                    this.register = data.data;
                })
                .catch(error => {
                    this._handleErrorNotification(error);
                }).finally(() => {
                this.loading = false;
            });
        },
        remove() {
            let url = "/api/register/delete/" + this.register.id;
            axios
                .delete(url)
                .then(({data}) => {
                    this._success(data.message);
                    this.$emit("close-add")
                    this.$emit("reload");
                })
                .catch(error => {
                    this._handleErrorNotification(error);
                }).finally(() => {
                this.loading = false;
            });
        },
        store() {
            let url = "/api/register/store";
            clear_errors(this.errors)

            axios
                .post(url, this.register)
                .then(({data}) => {
                    this._success(data.message);
                    this.$emit("close-add")
                    this.$emit("reload");
                })
                .catch(({response}) => {
                    let {status, data} = response;
                    let {errors, message} = data;

                    if (status === 422) {
                        this.errors = err_format(errors);
                    } else {
                        this._error(message);
                    }
                }).finally(() => {
                this.loading = false;
            });
        }
    },
    mounted() {
        if (this.selectedRegister)
            this.load();
    }
}
</script>


<style scoped lang="scss">

</style>