<template>
    <div class="p-4 admin-shop-product">
        <Loader v-if="loading" :overlay="true"/>
        <div class="d-flex align-items-center justify-content-between">
            <h4 class="fw-bolder">{{ premise.id ? 'Uredi ' + premise.intern_name : 'Nov poslovni prostor' }}</h4>
            <Button custom-class="wpm-btn-component--white-dark btn-sm" @click="useUnitData" :disabled="!businessUnit">
                Uporabi podatke poslovne enote
            </Button>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-lg-6">
                    <Input v-model="premise.BusinessPremiseID"
                           :error="errors.BusinessPremiseID"
                           label="Številka poslovnega prostora:"
                           placeholder="REC1"
                           border-type="shadow"
                           name="organization"
                    />
                </div>
                <div class="col-lg-6">
                    <div class="wpm-input-component">
                        <label>Tip:</label>
                        <div
                            class="wpm-input-component__wrapper wpm-input-component__wrapper--shadow wpm-input-component__wrapper--default"
                            :class="{'error-border':errors.PremiseType}">
                            <select
                                label="label"
                                class="w-100"
                                style="height: 1.55rem"

                                v-model="premise.PremiseType">
                                <option v-for="opt in type_options" :value="opt.value">{{ opt.label }}</option>
                                <option disabled selected hidden value="">Tip prostora</option>
                            </select>

                        </div>
                        <div v-if="errors.PremiseType" class="error-label">{{ errors.PremiseType }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 fw-bold pt-3">Podatki podjetja</div>
                    <div class="col-lg-6">
                        <Input v-model="premise.intern_name"
                               :error="errors.intern_name"
                               label="Interno ime podjetja:"
                               placeholder="WPM - črnuče"
                               border-type="shadow"
                               name="organization"
                        />
                    </div>
                    <div class="col-lg-6 col-12">
                        <Input v-model="premise.TaxNumber"
                               :error="errors.TaxNumber"
                               label="Davčna številka:"
                               placeholder="12345678"
                               border-type="shadow"
                        />
                    </div>
                </div>
                <div class="row" v-if="premise.PremiseType == null">

                    <!--                PODATKI PODJETJA-->

                    <div class="col-12 fw-bold pt-3">Naslov in pošta</div>
                    <!--                NASLOV-->
                    <div class="col-lg-5 col-12">
                        <Input v-model="premise.Street"
                               :error="errors.Street"
                               label="Naslov:"
                               placeholder="Brnčičeva ulica"
                               border-type="shadow"
                               name="address-line1"
                        />
                    </div>
                    <div class="col-lg-4 col-12">
                        <Input v-model="premise.HouseNumber"
                               :error="errors.HouseNumber"
                               label="Hišna številka:"
                               placeholder="13"
                               border-type="shadow"
                               name="address-line2"
                        />
                    </div>
                    <div class="col-lg-3 col-12">
                        <Input v-model="premise.HouseNumberAdditional"
                               :error="errors.HouseNumberAdditional"
                               label="Dodatek hišne številke:"
                               placeholder="a"
                               border-type="shadow"
                        />
                    </div>
                    <!--POŠTA-->
                    <div class="col-lg-3 col-12">
                        <Input v-model="premise.PostalCode"
                               :error="errors.PostalCode"
                               label="Poštna številka:"
                               placeholder="1231"
                               border-type="shadow"
                               name="postal-code"
                        />
                    </div>
                    <div class="col-lg-5 col-12">
                        <Input v-model="premise.City"
                               :error="errors.City"
                               label="Kraj:"
                               placeholder="Črnuče"
                               border-type="shadow"
                               name="address-level2"
                        />
                    </div>
                    <div class="col-lg-4 col-12">
                        <Input v-model="premise.Community"
                               :error="errors.Community"
                               label="Občina:"
                               placeholder="Ljubljana"
                               border-type="shadow"
                        />
                    </div>


                    <!--                KATASTER-->
                    <div class="col-12 fw-bold pt-3">Kataster</div>
                    <div class="col-lg-4 col-12">
                        <Input v-model="premise.CadastralNumber"
                               :error="errors.CadastralNumber"
                               label="Katastrska številka:"
                               placeholder="242"
                               border-type="shadow"
                        />
                    </div>
                    <div class="col-lg-4 col-12">
                        <Input v-model="premise.BuildingNumber"
                               :error="errors.BuildingNumber"
                               label="Številka stavbe:"
                               placeholder="42"
                               border-type="shadow"
                        />
                    </div>
                    <div class="col-lg-4 col-12">
                        <Input v-model="premise.BuildingSectionNumber"
                               :error="errors.BuildingSectionNumber"
                               label="Številka dela stavbe:"
                               placeholder="4"
                               border-type="shadow"
                        />
                    </div>

                </div>


                <div class="col-12 fw-bold pt-3 d-flex align-items-center justify-content-between">
                    <span>Certifikat</span>
                    <Toggle v-model="premise.cert_used"
                            class="d-inline-block fw-normal"
                            :options="toggleOptions"
                    />
                </div>
                <div class="row" v-if="premise.cert_used === 'own'">
                    <div class="col-12">
                        <div class="row">
                            <!--                PODATKI PODJETJA-->
                            <CertDragDrop :cert="cert"
                                          @store="store(true)"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="d-flex justify-content-between align-items-start gap-4 mt-4 flex-wrap">
            <button class="buttonNoStyle text-decoration-underline" @click="$emit('close-add')">Nazaj</Button>
            <div class="d-flex gap-3">
                <Button v-if="premise.id"
                        custom-class="wpm-btn-component--danger"
                        @click="remove">Odstrani
                </Button>
                <Button v-if="premise.id" custom-class="wpm-btn-component--success"
                        @click="report">Poročaj
                </Button>
                <Button custom-class="wpm-btn-component--main"
                        @click="store">Shrani
                </Button>
            </div>
        </div>
    </div>
</template>

<script>
import premise_type_options from "../Data/premise_type_options.js";
import {clear_errors, err_format} from "wpm-starter";
import CertDragDrop from "../../../components/CertDragDrop.vue";

export default {
    name: "EditPremise",
    components: {CertDragDrop},
    props: {
        businessUnit: Object,
        selectedPremise: String | Number,
    },
    mixins: [premise_type_options],
    data() {
        const initializeBusinessUnit = () => ({
            id: this.selectedPremise,
            intern_name: null,
            TaxNumber: null,
            BusinessPremiseID: null,
            CadastralNumber: null,
            BuildingNumber: null,
            BuildingSectionNumber: null,
            Street: null,
            HouseNumber: null,
            HouseNumberAdditional: null,
            Community: null,
            City: null,
            PostalCode: null,
            cert_used: "own",
            cert_path: false,
            cert_password: false,
            cert_verified: false,
            cert_name: false,
            SpecialNotes: null,
            PremiseType: "",
            business_unit_id: this.businessUnit.id,
        });

        return {
            cert: {
                cert_name: null,
                cert_path: null,
                cert_verified: null,
                cert_password: null,
            },
            premise: initializeBusinessUnit(),
            errors: initializeBusinessUnit(),
            loading: false,
            toggleOptions: [
                {label: 'Poslovna enota', value: "unit"},
                {label: 'Samostojno', value: "own"}
            ]
        }
    },
    methods: {
        useUnitData() {
            Object.assign(this.premise, {
                intern_name: this.businessUnit.intern_name,
                TaxNumber: this.businessUnit.TaxNumber,
                CadastralNumber: this.businessUnit.CadastralNumber,
                BuildingNumber: this.businessUnit.BuildingNumber,
                BuildingSectionNumber: this.businessUnit.BuildingSectionNumber,
                Street: this.businessUnit.Street,
                HouseNumber: this.businessUnit.HouseNumber,
                HouseNumberAdditional: this.businessUnit.HouseNumberAdditional,
                Community: this.businessUnit.Community,
                City: this.businessUnit.City,
                PostalCode: this.businessUnit.PostalCode
            });
        },
        load() {
            this.loading = true;
            let url = "/api/premise/show/" + this.selectedPremise;
            axios
                .get(url)
                .then(({data}) => {
                    this.premise = data.data;
                    this.cert = {
                        cert_path: this.premise.cert_path,
                        cert_name: this.premise.cert_name,
                        cert_verified: this.premise.cert_verified,
                        cert_password: this.premise.cert_password,
                    }
                })
                .catch(error => {
                    this._handleErrorNotification(error);
                }).finally(() => {
                this.loading = false;
            });
        },
        remove() {
            let url = "/api/premise/delete/" + this.premise.id;
            axios
                .delete(url)
                .then(({data}) => {
                    this._success(data.message);
                    this.$emit("close-add")
                    this.$emit("reload");
                })
                .catch(error => {
                    this._handleErrorNotification(error);
                }).finally(() => {
                this.loading = false;
            });
        },
        async report() {
            await this.store();
            let url = "/api/premise/report/"+this.premise.id;
            axios
                .post(url)
                .then(({data}) => {
                    this._success(data.message);
                })
                .catch(error => {
                    this._handleErrorNotification(error);
                }).finally(() => {
                this.loading = false;
            });
        },
        store(cert = false) {
            let url = "/api/premise/store";
            clear_errors(this.errors)

            if (cert) {
                this.premise.cert_path = this.cert.cert_path;
                this.premise.cert_name = this.cert.cert_name;
                this.premise.cert_password = this.cert.cert_password;
                this.premise.cert_verified = this.cert.cert_verified;
            }

            axios
                .post(url, this.premise)
                .then(({data}) => {
                    this._success(data.message);
                    this.$emit("close-add")
                    this.$emit("reload");
                })
                .catch(({response}) => {
                    let {status, data} = response;
                    let {errors, message} = data;

                    if (status === 422) {
                        this.errors = err_format(errors);
                        this._error(message);
                    } else {
                        this._error(message);
                    }
                }).finally(() => {
                this.loading = false;
            });
        }
    },
    mounted() {
        if (this.selectedPremise)
            this.load();
    }
}
</script>


<style scoped lang="scss">

</style>