<template>
    <div class="p-4 admin-shop-product">
        <div class="d-flex align-items-center justify-content-between">
            <h4 class="fw-bolder">Operaterji</h4>
        </div>
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="admin-shop__table-tab">
                    <div class="admin-shop__py d-flex align-items-end flex-wrap gap-4">
                        <div class="admin-shop__input mobile-full-width">
                            <Input placeholder="Iskanje"
                                   v-model="filter.search"
                                   border-type="shadow"
                                   :icon-type="true"
                                   @input="handleKeyup"
                            >
                                <span><i class="fas fa-search"></i></span>
                            </Input>
                        </div>
                        <div class="ms-auto">
                            <Button custom-class="wpm-btn-component--dark"
                                    @click="addOperator"
                            >
                                {{ add_operator ? "Zapri urejanje operaterja" : "+ Dodaj operaterja" }}
                            </Button>
                        </div>
                    </div>
                    <Table :columns="tableColumns"
                           style="height: 60vh"
                           class="p-0"
                           :rows="list"
                           :searching="searching"
                           :appending="appending"
                           theme="box-shadow"
                           @bottom="handleScroll"
                           scrollable>
                        <template #id="{row}"><strong>{{ row.id }}</strong></template>
                        <template #name="{row}"><strong>{{ row.full_name }}</strong></template>
                        <template #vat_number="{row}">{{ row.vat_number }}</template>
                        <template #status="{row}"><i v-if="row.active" class="fa fa-check text-success"/><i v-else
                                                                                                            class="fa fa-times text-danger"/>
                        </template>

                        <template #actions="{row}">
                            <div class="d-flex justify-content-end gap-3">
                                <Button @click="selectOperator(row.id)"
                                        custom-class="wpm-btn-component--main">Preglej
                                </Button>
                            </div>
                        </template>
                    </Table>
                </div>
            </div>
            <div class="col-lg-6 col-12" v-if="businessUnit && add_operator">
                <EditOperator :selected-operator="selected_operator_id"
                              :key="selected_operator_id+'a'+add_operator"
                              :business-unit="businessUnit"
                              @close-add="addOperator"
                              @reload="search(true)"
                />
            </div>
        </div>
    </div>
</template>


<script>

import EditPremise from "./EditPremise.vue";
import paginate from "../../../mixins/paginate.js";
import EditOperator from "./EditOperator.vue";

export default {
    name: "OperatorsTab",
    props: {
        businessUnit: Object,
    },
    mixins: [paginate],
    components: {
        EditOperator,
        EditPremise,
    },
    data() {
        return {
            add_operator: false,
            selected_operator_id: null,
            query: {
                url: "/api/operator/paginate",
                destination: "list",
            },
            filter: {
                search: null,
                business_units: [this.$route.params.id],
            },
            tableColumns: [
                {name: 'ID', key: 'id'},
                {name: 'Ime in priimek', key: 'name'},
                {name: 'Davčna številka', key: 'vat_number'},
                {name: 'Status', key: "status"},
                {name: '', key: 'actions'},
            ],
        }
    },
    methods: {
        selectOperator(operator_id) {
            this.selected_operator_id = operator_id;
            this.add_operator = true;
        },
        addOperator() {
            this.selected_operator_id = null;
            this.add_operator = !this.add_operator;
        }
    },
}
</script>


<style scoped lang="scss">

</style>