<template>
    <div class="p-4 admin-shop-product">
        <div class="d-flex align-items-center justify-content-between">
            <h4 class="fw-bolder">Poslovni prostori</h4>
        </div>
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="admin-shop__table-tab">
                    <div class="admin-shop__py d-flex align-items-end flex-wrap gap-4">
                        <div class="admin-shop__input mobile-full-width">
                            <Input placeholder="Iskanje"
                                   v-model="filter.search"
                                   border-type="shadow"
                                   :icon-type="true"
                                   @input="handleKeyup"
                            >
                                <span><i class="fas fa-search"></i></span>
                            </Input>
                        </div>
                        <div class="ms-auto">
                            <Button custom-class="wpm-btn-component--dark"
                                    @click="addPremise"
                            >
                                 {{ add_premise ? "Zapri urejanje prostora" : "+ Dodaj prostor" }}
                            </Button>
                        </div>
                    </div>
                    <Table :columns="tableColumns"
                           style="height: 60vh"
                           class="p-0"
                           :rows="list"
                           :searching="searching"
                           :appending="appending"
                           theme="box-shadow"
                           @bottom="handleScroll"
                           scrollable>
                        <template #id="{row}"><strong>{{ row.id }}</strong></template>
                        <template #intern_name="{row}"><strong>{{ row.intern_name }}</strong></template>
                        <template #tax_number="{row}">{{ row.TaxNumber }}</template>
                        <template #status="{row}"> <span v-if="row.reported_at" class="fw-bold text-success">Poročan</span><span v-else class="fw-bold text-danger">Neporočan</span></template>

                        <template #actions="{row}">
                            <div class="d-flex justify-content-end gap-3">
                                <Button @click="selectPremise(row.id)"
                                        custom-class="wpm-btn-component--main">Preglej
                                </Button>
                            </div>
                        </template>
                    </Table>
                </div>
            </div>
            <div class="col-lg-6 col-12" v-if="businessUnit && add_premise">
                <EditPremise :selected-premise="selected_premise_id"
                             :key="selected_premise_id+'a'+add_premise"
                             :business-unit="businessUnit"
                             @close-add="addPremise"
                             @reload="search(true)"
                />
            </div>
        </div>
    </div>
</template>


<script>

import EditPremise from "./EditPremise.vue";
import paginate from "../../../mixins/paginate.js";

export default {
    name: "PremisesTab",
    props: {
        businessUnit: Object,
    },
    mixins: [paginate],
    components: {
        EditPremise,
    },
    data() {
        return {
            add_premise: false,
            selected_premise_id: null,
            query: {
                url: "/api/premise/paginate",
                destination: "list",
            },
            filter:{
                search: null,
                business_units: [this.$route.params.id],
            },
            tableColumns: [
                {name: 'ID', key: 'id'},
                {name: 'Interno ime', key: 'intern_name'},
                {name: 'Davčna številka', key: 'tax_number'},
                {name: 'Status', key: 'status'},
                {name: '', key: 'actions'},
            ],
        }
    },
    methods: {
        selectPremise(premise_id) {
            this.selected_premise_id = premise_id;
            this.add_premise = true;
        },
        addPremise(){
            this.selected_premise_id = null;
            this.add_premise = !this.add_premise;
        }
    },

}
</script>


<style scoped lang="scss">

</style>