<template>
    <div class="p-4 admin-shop-product">
        <div class="d-flex align-items-center justify-content-between">
            <h4 class="fw-bolder">Elektronske naprave</h4>
        </div>
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="admin-shop__table-tab">
                    <div class="admin-shop__py d-flex align-items-end flex-wrap gap-4">
                        <div class="admin-shop__input mobile-full-width">
                            <Input placeholder="Iskanje"
                                   v-model="filter.search"
                                   border-type="shadow"
                                   :icon-type="true"
                                   @input="handleKeyup"
                            >
                                <span><i class="fas fa-search"></i></span>
                            </Input>
                        </div>
                        <div class="ms-auto">
                            <Button custom-class="wpm-btn-component--dark"
                                    @click="addRegister"
                            >
                                {{ add_register ? "Zapri urejanje blagajne" : "+ Dodaj blagajno" }}
                            </Button>
                        </div>
                    </div>
                    <Table :columns="tableColumns"
                           style="height: 60vh"
                           class="p-0"
                           :rows="list"
                           :searching="searching"
                           :appending="appending"
                           theme="box-shadow"
                           @bottom="handleScroll"
                           scrollable>
                        <template #id="{row}"><strong>{{ row.id }}</strong></template>
                        <template #intern_name="{row}"><strong>{{ row.intern_name }}</strong></template>
                        <template #name="{row}">{{ row.name }}</template>
                        <template #number="{row}">{{ row.number }}</template>

                        <template #actions="{row}">
                            <div class="d-flex justify-content-end gap-3">
                                <Button @click="selectRegister(row.id)"
                                        custom-class="wpm-btn-component--main">Preglej
                                </Button>
                            </div>
                        </template>
                    </Table>
                </div>
            </div>
            <div class="col-lg-6 col-12" v-if="businessUnit && add_register">
                <EditRegister :selected-register="selected_register_id"
                             :key="selected_register_id+'a'+add_register"
                             :business-unit="businessUnit"
                             @close-add="addRegister"
                             @reload="search(true)"
                />
            </div>
        </div>
    </div>
</template>


<script>

import EditPremise from "./EditPremise.vue";
import paginate from "../../../mixins/paginate.js";
import EditRegister from "./EditRegister.vue";

export default {
    name: "RegistersTab",
    props: {
        businessUnit: Object,
    },
    mixins: [paginate],
    components: {
        EditRegister,
        EditPremise,
    },
    data() {
        return {
            add_register: false,
            selected_register_id: null,
            query: {
                url: "/api/register/paginate",
                destination: "list",
            },
            filter:{
                search: null,
                business_units: [this.$route.params.id],
            },
            tableColumns: [
                {name: 'ID', key: 'id'},
                {name: 'Interno ime naprave', key: 'intern_name'},
                {name: 'Ime naprave', key: 'name'},
                {name: 'Številka naprave', key: 'number'},
                {name: '', key: 'actions'},
            ],
        }
    },
    methods: {
        selectRegister(register_id) {
            this.selected_register_id = register_id;
            this.add_register = true;
        },
        addRegister(){
            this.selected_register_id = null;
            this.add_register = !this.add_register;
        }
    },

}
</script>


<style scoped lang="scss">

</style>