<template>
    <div class="p-4 admin-shop-product">
        <Loader v-if="loading" :overlay="true"/>
        <div class="d-flex align-items-center justify-content-between">
            <h4 class="fw-bolder">{{ business_unit?.id ? business_unit?.intern_name : 'Nova poslovna enota' }}</h4>
            <Button custom-class="wpm-btn-component--white-dark btn-sm" @click="useCompanyData" :disabled="!company">
                Uporabi podatke sedeža podjetja
            </Button>
        </div>
        <div class="row">

            <div class="col-lg-6 col-12">
                <div class="row">
                    <!--                PODATKI PODJETJA-->
                    <div class="col-12 fw-bold pt-3">Podatki podjetja</div>
                    <div class="col-lg-6">
                        <Input v-model="business_unit.intern_name"
                               :error="errors.intern_name"
                               label="Interno ime podjetja:"
                               placeholder="WPM - črnuče"
                               border-type="shadow"
                               name="organization"
                        />
                    </div>
                    <div class="col-lg-6">
                        <Input v-model="business_unit.title"
                               :error="errors.title"
                               label="Naziv podjetja:"
                               placeholder="WPM d.o.o"
                               border-type="shadow"
                               name="organization"
                        />
                    </div>
                    <div class="col-12 fw-bold pt-3">Naslov in pošta</div>
                    <!--                NASLOV-->
                    <div class="col-lg-5 col-12">
                        <Input v-model="business_unit.Street"
                               :error="errors.Street"
                               label="Naslov:"
                               placeholder="Brnčičeva ulica"
                               border-type="shadow"
                               name="address-line1"
                        />
                    </div>
                    <div class="col-lg-4 col-12">
                        <Input v-model="business_unit.HouseNumber"
                               :error="errors.HouseNumber"
                               label="Hišna številka:"
                               placeholder="13"
                               border-type="shadow"
                               name="address-line2"
                        />
                    </div>
                    <div class="col-lg-3 col-12">
                        <Input v-model="business_unit.HouseNumberAdditional"
                               :error="errors.HouseNumberAdditional"
                               label="Dodatek hišne številke:"
                               placeholder="a"
                               border-type="shadow"
                        />
                    </div>
                    <!--POŠTA-->
                    <div class="col-lg-3 col-12">
                        <Input v-model="business_unit.PostalCode"
                               :error="errors.PostalCode"
                               label="Poštna številka:"
                               placeholder="1231"
                               border-type="shadow"
                               name="postal-code"
                        />
                    </div>
                    <div class="col-lg-5 col-12">
                        <Input v-model="business_unit.City"
                               :error="errors.City"
                               label="Kraj:"
                               placeholder="Črnuče"
                               border-type="shadow"
                               name="address-level2"
                        />
                    </div>
                    <div class="col-lg-4 col-12">
                        <Input v-model="business_unit.Community"
                               :error="errors.Community"
                               label="Občina:"
                               placeholder="Ljubljana"
                               border-type="shadow"
                        />
                    </div>


                    <!--                KATASTER-->
                    <div class="col-12 fw-bold pt-3">Kataster</div>
                    <div class="col-lg-4 col-12">
                        <Input v-model="business_unit.CadastralNumber"
                               :error="errors.CadastralNumber"
                               label="Katastrska številka:"
                               placeholder="242"
                               border-type="shadow"
                        />
                    </div>
                    <div class="col-lg-4 col-12">
                        <Input v-model="business_unit.BuildingNumber"
                               :error="errors.BuildingNumber"
                               label="Številka stavbe:"
                               placeholder="42"
                               border-type="shadow"
                        />
                    </div>
                    <div class="col-lg-4 col-12">
                        <Input v-model="business_unit.BuildingSectionNumber"
                               :error="errors.BuildingSectionNumber"
                               label="Številka dela stavbe:"
                               placeholder="4"
                               border-type="shadow"
                        />
                    </div>


                    <div class="col-12 fw-bold pt-3">Identifikacijske številke</div>
                    <div class="col-lg-6 col-12">
                        <Input v-model="business_unit.TaxNumber"
                               :error="errors.TaxNumber"
                               label="Davčna številka"
                               placeholder="1234567899"
                               border-type="shadow"
                        />
                    </div>
                    <div class="col-lg-6 col-12">
                        <Input v-model="business_unit.register_number"
                               :error="errors.register_number"
                               label="Matična številka:"
                               placeholder="12345678"
                               border-type="shadow"
                        />
                    </div>
                    <div class="col-12 fw-bold pt-3">Kontakt</div>
                    <div class="col-lg-6 col-12">
                        <Input v-model="business_unit.email"
                               :error="errors.email"
                               label="E-poštni naslov:"
                               placeholder="info@example.com"
                               border-type="shadow"
                               name="email"
                        />
                    </div>
                    <div class="col-lg-6 col-12">
                        <Input v-model="business_unit.phone_number"
                               :error="errors.phone_number"
                               label="Telefonska številka"
                               placeholder="+386 31 123 456"
                               border-type="shadow"
                               name="tel"
                        />
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12" v-if="business_unit.id">
                <div class="row">
                    <!--                PODATKI PODJETJA-->
                    <div class="col-12 fw-bold pt-3">Certifikat</div>
                    <CertDragDrop :cert="cert"
                                  @store="store(true)"
                    />
                </div>
            </div>

        </div>

        <div class="d-flex justify-content-between align-items-start gap-4 mt-4 flex-wrap">
            <button class="buttonNoStyle text-decoration-underline" @click="$router.back()">Nazaj</Button>
            <div class="d-flex gap-3">
                <Button v-if="business_unit.id"
                        custom-class="wpm-btn-component--danger"
                        @click="remove">Odstrani
                </Button>
                <Button custom-class="wpm-btn-component--main"
                        @click="store">Shrani
                </Button>
            </div>
        </div>
    </div>


</template>


<script>
import {clear_errors, err_format} from "wpm-starter";
import CertDragDrop from "../../../components/CertDragDrop.vue";

export default {
    name: "UnitInfoTab",
    components: {CertDragDrop},
    data() {
        const initializeBusinessUnit = () => ({
            id: this.$route.params.id || null,
            intern_name: null,
            title: null,
            TaxNumber: null,
            CadastralNumber: null,
            BuildingNumber: null,
            BuildingSectionNumber: null,
            Street: null,
            HouseNumber: null,
            HouseNumberAdditional: null,
            Community: null,
            City: null,
            PostalCode: null,
            register_number: null,
            email: null,
            phone_number: null,
        });
        const initCert = () => ({
            cert_path: null,
            cert_password: null,
            cert_name: null,
            cert_verified: false,
        });

        return {
            cert: initCert(),
            loading: false,
            company: false,
            business_unit: initializeBusinessUnit(),
            errors: initializeBusinessUnit(),
            company_seat_loading: false,
        }
    },
    methods: {
        useCompanyData() {
            const {
                company_name,
                vat_number,
                street,
                house_number,
                house_number_additional,
                zip,
                community,
                city,
                register_number,
                email,
                phone_number
            } = this.company;

            Object.assign(this.business_unit, {
                intern_name: company_name,
                title: company_name,
                TaxNumber: vat_number,
                Street: street,
                HouseNumber: house_number,
                HouseNumberAdditional: house_number_additional,
                PostalCode: zip,
                Community: community,
                City: city,
                register_number,
                email,
                phone_number
            });
        },
        loadCompanyData() {
            let url = "/api/settings/load";
            axios
                .get(url)
                .then(({data}) => {
                    this.company = data.data;
                })
                .catch(error => {
                    this._handleErrorNotification(error);
                }).finally(() => {
                this.loading = false;
            });
        },
        load() {
            this.loading = true;
            let url = "/api/business-unit/show/" + this.business_unit.id;
            axios
                .get(url)
                .then(({data}) => {
                    this.business_unit = data.data;
                    this.cert = {
                        cert_path: this.business_unit.cert_path,
                        cert_name: this.business_unit.cert_name,
                        cert_password: this.business_unit.cert_password,
                        cert_verified: this.business_unit.cert_verified,
                    };
                })
                .catch(error => {
                    this._handleErrorNotification(error);
                }).finally(() => {
                this.loading = false;
            });
        },
        store(cert = false) {
            this.loading = true;
            clear_errors(this.errors)

            let url = "/api/business-unit/store";
            if (cert) {
                this.business_unit.cert_path = this.cert.cert_path;
                this.business_unit.cert_verified = this.cert.cert_verified;
                this.business_unit.cert_password = this.cert.cert_password;
                this.business_unit.cert_name = this.cert.cert_name;
            }
            axios
                .post(url, this.business_unit)
                .then(({data}) => {
                    this.business_unit.id = data.data.id
                    this.$router.push({path: "/poslovne-enote/uredi/" + this.business_unit.id});
                    this._success(data.message);
                })
                .catch(({response}) => {
                    let {status, data} = response;
                    let {errors, message} = data;

                    if (status === 422) {
                        this.errors = err_format(errors);
                    } else {
                        this._error(message);
                    }
                }).finally(() => {
                this.loading = false;
            });
        },
        remove() {
            this.loading = true;
            let url = "/api/business-unit/delete/" + this.business_unit.id;
            axios
                .delete(url)
                .then(({data}) => {
                    this._success(data.message);
                    this.$router.push({path: "/poslovne-enote"});
                })
                .catch(error => {
                    this._handleErrorNotification(error);
                }).finally(() => {
                this.loading = false;
            });
        },
    }
    ,
    mounted() {
        this.loadCompanyData();
        if (this.business_unit.id)
            this.load();
    }
}
</script>


<style scoped lang="scss">

</style>