<template>
    <div class="row">
        <div class="col-12">
            <Section class="admin-shop__table-page">
                <div class="admin-shop__table-tab">
                    <div class="admin-shop__py d-flex align-items-end flex-wrap gap-4">
                        <Input placeholder="Iskanje"
                               label="Iskalni niz:"
                               v-model="filter.search"
                               border-type="shadow"
                               :icon-type="true"
                               @input="handleKeyup"
                        >
                            <span><i class="fas fa-search"></i></span>
                        </Input>

                        <div class="wpm-input-component" style="min-width: 200px">
                            <label>Status:</label>
                            <div class="admin-shop__input w-100">
                                <v-select placeholder="Izberite status"
                                          :options="STATUS_OPTIONS"
                                          :multiple="true"
                                          label="name"
                                          v-model="filter.status">
                                </v-select>
                            </div>
                        </div>
                    
                    </div>



                    <Table :columns="tableColumns" :rows="list" theme="box-shadow" :searching="searching"
                        :appending="appending" style="height: 70vh" @bottom="handleScroll" scrollable>
                        <template #id="{ row }"><strong>{{ row.id }}</strong></template>
                        <template #issue_time="{ row }"><strong>{{ _niceDate(row.created_at, row.created_at) }}</strong>
                        </template>
                        <template #number="{ row }">{{ row.full_invoice_number }}</template>
                        <template #customer="{ row }">{{ row.customer.full_name }}</template>
                        <template #unit="{ row }">{{ row.business_unit.intern_name }}</template>
                        <template #value="{ row }">{{ row.InvoiceAmount }}</template>
                        <template #status="{ row }">{{ row.status }}</template>
                        <template #report_status="{ row }">{{ row.report_status }}</template>

                        <template #actions="{ row }">
                            <div class="d-flex justify-content-end gap-3">
                                <a class="wpm-btn-component--main wpm-btn-component__button" :href="`/furs/logs/${row.id}`" target="_blank">
                                    Preglej loge
                                </a>
                            </div>
                        </template>
                    </Table>
                </div>

            </Section>

        </div>
    </div>

</template>

<script>
import paginate from "../../mixins/paginate.js";

export default {
    name: "QueuePage",
    mixins: [paginate],
    data() {
        return {
            query: {
                url: "/api/failed-invoice/paginate",
                destination: "list",
            },
            filter: {
                search: null,
                status: null,
            },
            tableColumns: [
                { name: 'ID', key: 'id' },
                { name: 'Izdaja', key: 'issue_time' },
                { name: 'Št. računa', key: 'number' },
                { name: 'Poslovna enota', key: 'unit' },
                { name: 'Status', key: 'status' },
                { name: 'Status poročanja', key: 'report_status' },
                { name: '', key: 'actions' },
            ],
            STATUS_OPTIONS: [
                {
                    id: 'failed',
                    name: 'Neuspešni'
                },
                {
                    id: 'valid',
                    name: 'Uspešni z napakami'
                },
            ]
        }
    }
}
</script>
