@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import 'bootstrap';


@import "imports/responsive";
@import "imports/_variables";
@import "imports/button";
@import "imports/notifications";
@import "imports/input";
@import "imports/loader";
@import "imports/layouts";
@import "imports/cards";
@import "imports/coloring";
@import "imports/topTabs";
@import "imports/modal";
@import "imports/toggle";
@import "imports/scrollbar";
@import "imports/sidebar";
@import "imports/popup";
@import "imports/table";
@import "imports/text";

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  color: $text-color !important;
}

.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-start-between {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.fw-700 {
  font-weight: 700 !important;
}

.rect {
  width: 30px;
  height: 30px;
}

@for $i from 1 through 9 {
  .opacity-#{$i} {
    opacity: calc($i / 10);
  }
}
