<template>
    <Section>
        <div class="border-bottom">
            <router-link class="fw-bold text__secondary text-decoration-none" :to="item.href"><h5>{{ item.title }}</h5>
            </router-link>
        </div>
        <div class="d-flex flex-wrap gap-2 admin-dashboard-section">
            <div class="p-3" v-for="(child, i) in filteredChilds" :key="'child'+i">
                <Button type="link" custom-class="wpm-btn-component--white-dark" :to="child.href">
                    <i :class="child.icon || item.icon"/>
                    <div class="fw-bold">{{ child.title }}</div>
                </Button>
            </div>
        </div>
    </Section>
</template>

<script>
export default {
    name: "AdminDashboardSection",
    props: {
        item: Object
    },
    methods: {
        openSection(section) {
            this.$router.push(section.href)
        }
    },
    computed: {
        filteredChilds() {
            return this.item.child.filter(e => e.show_on_home);
        }
    }
}
</script>

<style lang="scss">

.admin-dashboard-section {
    .wpm-btn-component--white-dark {
        font-size: 1.1rem;
        border-radius: 4px;
        min-width: 8rem;
        height: 5rem;
        box-shadow: $box-shadow;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        i {
            font-size: 1.3rem;
        }
    }
}

</style>