
<template>
    <div class="row">
        <div v-for="(item, index) in sections" :key="'ASection' + index" class="col-12">
            <AdminDashboardSection :item="item" />
        </div>
    </div>
</template>

<script>
import AdminDashboardSection from "./Widgets/AdminDashboardSection.vue";
import home_sections from "./Data/home_sections.js";

export default {
    name: "HomePage",
    components: {AdminDashboardSection},
    data() {
        return {
            sections: home_sections
        }
    }
}
</script>

<style lang="scss" scoped>

.row {
    --bs-gutter-y: 1.5rem;
}

</style>