<template>
    <div class="wpm-input-component">
        <div class="row">
            <div class="col-lg-6 col-12">
                <label for="">Certifikat (p12, pfx)</label>
                <div
                    class="drop-zone d-flex align-items-center justify-content-center fs-smaller fw-bold position-relative"
                    @dragover.prevent
                    @drop.prevent="handleDrop"
                    @dragenter.prevent="dragging = true"
                    @dragleave.prevent="dragging = false"
                    @click="triggerFileInput"
                    :class="{ 'is-dragging': dragging }"
                >
                    <input type="file" ref="fileInput" @change="handleFileSelect" style="display: none;"/>
                    <div v-if="!cert.cert_name">Povlecite ali izberite vaš certifikat</div>
                    <div v-else>{{ cert.cert_name }}</div>
                    <i v-if="cert.cert_name" class="fas fa-download download-icon" @click.stop="downloadFile"></i>
                </div>
                <div v-if="fileError" class="text-danger">{{ fileError }}</div>
            </div>
            <div class="col-lg-6 col-12">
                <Input
                    label="Geslo certifikata"
                    v-model="cert.cert_password"
                    placeholder="Geslo certifikata"
                    border-type="shadow"
                />
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12 d-flex align-items-center justify-content-between">
                <span class="">
                    <span v-if="cert.cert_verified" class="text-success fw-bold">Certifikat je preverjen!</span>
                    <span v-else class="text-danger fw-bold">Certifikat še ni preverjen!</span>
                </span>
                <Button custom-class="wpm-btn-component--main" :disabled="!cert.cert_password && !certFile"
                        @click="verify">
                    Preveri
                </Button>
            </div>
        </div>
    </div>
</template>

<script>
import {download} from "wpm-starter";

export default {
    name: "CertDragDrop",
    props: {
        cert: Object,
    },
    data() {
        return {
            dragging: false,
            certFile: null,
            fileError: '',
        };
    },
    watch: {
        'cert.cert_path': 'initializeCertFile'
    },
    mounted() {
        this.initializeCertFile();
    },
    methods: {
        initializeCertFile() {
            if (this.cert.cert_path && !this.certFile) {
                axios.get(`/api/certificate/download?path=${encodeURIComponent(this.cert.cert_path)}`, {responseType: 'blob'})
                    .then(response => {
                        const file = new File([response.data], this.cert.cert_name, {type: 'application/x-pkcs12'});
                        this.setCertFile(file);
                    })
                    .catch(error => {
                        console.error('Error fetching the file', error);
                    });
            }
        },
        handleDrop(event) {
            this.dragging = false;
            const files = event.dataTransfer.files;
            if (files.length) {
                this.setCertFile(files[0]);
            }
        },
        handleFileSelect(event) {
            const files = event.target.files;
            if (files.length) {
                this.setCertFile(files[0]);
            }
        },
        setCertFile(file) {
            const validTypes = ['application/x-pkcs12', 'application/x-pkcs12'];
            if (!validTypes.includes(file.type)) {
                this.fileError = 'Please upload a valid p12 or pfx file.';
                this.certFile = null;
                return;
            }
            this.certFile = file;
            this.fileError = '';
            this.cert.cert_path = file.name;
            this.cert.cert_name = file.name;

            // Store the file object
        },
        triggerFileInput() {
            this.$refs.fileInput.click();
        },
        verify() {
            let url = "/api/certificate/verify";
            let data = new FormData();

            // If there is no new file, use the stored file

            data.append('file', this.certFile);
            data.append('password', this.cert.cert_password);

            axios
                .post(url, data, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                })
                .then(({data}) => {
                    this.cert.cert_verified = true;
                    this.cert.cert_name = data.original_file_name;
                    this.cert.cert_path = data.file_path;
                    this.cert.cert_password = data.password;
                    this._success(data.message);
                    this.$emit("store");
                })
                .catch(error => {
                    this._handleErrorNotification(error);
                })
                .finally(() => {
                    this.loading = false;
                });
        },
        downloadFile() {
            const url = window.URL.createObjectURL(this.certFile);
            download(url, this.cert.cert_name);
        }
    }
};
</script>

<style scoped lang="scss">
.wpm-input-component {
    .drop-zone {
        border: 2px dashed #ccc;
        padding: 20px;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.2s ease;
        position: relative;

        &.is-dragging {
            background-color: #e9e9e9;
        }

        .download-icon {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            color: #007bff;

            &:hover {
                color: #0056b3;
            }
        }
    }

    .cert-details {
        margin-top: 20px;

        input {
            display: block;
            margin: 10px 0;
            padding: 10px;
            width: 100%;
            box-sizing: border-box;
        }

        button {
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            border: none;
            cursor: pointer;

            &:hover {
                background-color: #0056b3;
            }
        }
    }

    .text-danger {
        color: #dc3545;
    }

    .text-success {
        color: #28a745;
    }
}
</style>
