<template>
    <div class="cashier-topbar">
        <div class="cashier-topbar__logo cursor-pointer">
            <router-link to="/">
                <img src="https://wpm.si/wp-content/uploads/2022/02/logo.svg" style="height: 20px" alt="">
            </router-link>
        </div>
        <div class="cashier-topbar__user">
            <router-link to="/" class="fw-bolder text__primary text-decoration-none">Davčna blagajna</router-link>
        </div>
        <div class="mx-2 d-flex gap-2">
            <router-link class="navigation-router-link" to="/racuni">
                <span>Računi</span>
                <i class="fa fa-book"/>
            </router-link>
            <router-link class="navigation-router-link"
                         to="/poslovne-enote">
                Poslovne enote
                <i class="fa fa-home"/>
            </router-link>
            <router-link class="navigation-router-link"
                         to="/stranke">
                Stranke
                <i class="fa fa-users"/>
            </router-link>

            <router-link class="navigation-router-link"
                         to="/cakalna-vrsta">
                Čakalna vrsta
                <i class="fa fa-clock"/>
            </router-link>


            <router-link class="navigation-router-link"
                         to="/nastavitve">
                Nastavitve
                <i class="fa fa-cogs"/>
            </router-link>

            <div class="position-relative">
                <Loader v-if="mode_loading" :overlay="true" size="xs"/>
                <Toggle v-model="mode"
                        :options="toggleOptions"
                        class="fw-bold"
                        @update:model-value="setMode"
                />
            </div>

        </div>
        <div class="cashier-topbar__actions">
            <a
                class="navigation-router-link app-link"
                href="/"
                @click.prevent="redirectToDomain">
                Aplikacija
                <i class="fa fa-share"/>
            </a>
        </div>
    </div>

</template>

<script>

export default {
    name: "Navigation",
    data() {
        return {
            mode: false,
            mode_loading: false,
            toggleOptions: [
                {label: 'Produkcija', value: "prod"},
                {label: 'Testiranje', value: "dev"}
            ]
        }
    },
    methods: {
        getMode() {
            this.mode_loading = true;
            let url = "/api/settings/get-mode";
            axios
                .get(url)
                .then(({data}) => {
                    this.mode = data.data;
                })
                .catch(error => {
                    this._handleErrorNotification(error);
                }).finally(() => {
                this.mode_loading = false;
            });
        },
        setMode() {
            this.mode_loading = true;
            let url = "/api/settings/switch-mode";
            let data = {
                mode: this.mode,
            };
            axios
                .post(url, data)
                .then(({data}) => {
                    this._success(data.message);
                })
                .catch(error => {
                    this._handleErrorNotification(error);
                }).finally(() => {
                this.mode_loading = false;
            });
        },
        redirectToDomain() {
            window.location.href = '/'; // Replace with your actual domain
        }
    },
    mounted() {
        this.getMode();
    }
}
</script>

<style lang="scss">

$navigation-background: #ccc;
$navigation-color: #676767;

.toggle-switch {
    .toggle-switch__option {
        border: 1px solid $border-color;

        &:first-child {
            border-right: none;
        }

        &:last-child {
            border-left: none;
        }
    }
}

/* SCSS for all router-links */
.navigation-router-link {
    display: inline-block;
    text-decoration: none;
    color: $text-color;
    padding: 10px;
    border: 1px solid $text-color;
    transition: background-color 0.3s, color 0.3s;

    i {
        margin-left: 5px; /* Ensure the icon has some spacing */
    }

    &:hover,
    &.router-link-active,
    &.router-link-exact-active {
        background-color: $main; /* Active background color */
        color: white; /* Active text color */
    }

    &.app-link {
        background-color: $main;
        color: white;

        &:hover,
        &.router-link-active,
        &.router-link-exact-active {
            background-color: white; /* Active background color */
            color: $main; /* Active text color */
        }
    }
}

</style>