<template>
    <div class="cashier-container">
        <Navigation/>
        <div class="admin-layout-container">
            <div class="admin-sidebar-layout">
                <div class="p-4 h-100 d-flex flex-column">
                    <router-view/>
                </div>
            </div>
        </div>
        <notifications classes="custom-notification" :duration="4000"/>

    </div>
</template>

<script>
import Navigation from "./components/Navigation.vue";

export default {
    name: 'App',
    components: {Navigation},
};
</script>

<style lang="scss">
.admin-layout-container {
    height: calc(100vh - $topbar-height);
}

.admin-sidebar-layout {
    -webkit-transition: .3s ease;
    transition: .3s ease;
    height: 100%;

    &--collapsed {
        padding-left: 65px;
    }
}

</style>
