<template>

    <div class="p-4 admin-shop-product">
        <Loader v-if="loading" :overlay="true"/>
        <div class="d-flex align-items-center justify-content-start">
            <h4 class="fw-bolder">{{ customer.id ? 'Uredi ' + customer.intern_name : 'Nova stranka' }}</h4>
        </div>
        <div class="col-12">
            <div class="row">
                <!--                PODATKI PODJETJA-->
                <div class="col-12 fw-bold pt-3">Podatki stranke</div>
                <div class="col-lg-3">
                    <Input v-model="customer.intern_name"
                           :error="errors.intern_name"
                           label="Interno ime:"
                           placeholder="WPM - črnuče"
                           border-type="shadow"
                           name="organization"
                    />
                </div>
                <div class="col-lg-5">
                    <Input v-model="customer.title"
                           :error="errors.title"
                           label="Ime podjetja:"
                           placeholder="WPM d.o.o"
                           border-type="shadow"
                           name="organization"
                    />
                </div>
                <div class="col-lg-4">
                    <Input v-model="customer.tax_number"
                           :error="errors.tax_number"
                           label="Davčna številka:"
                           placeholder="12345678"
                           border-type="shadow"
                           name="vat-number"
                    />
                </div>
                <div class="col-lg-6 col-12">
                    <Input v-model="customer.name"
                           :error="errors.name"
                           label="Ime:"
                           placeholder="Janez"
                           border-type="shadow"
                           name="name"
                    />
                </div>
                <div class="col-lg-6 col-12">
                    <Input v-model="customer.surname"
                           :error="errors.surname"
                           label="Priimek:"
                           placeholder="Janez"
                           border-type="shadow"
                           name="surname"
                    />
                </div>
                <div class="col-12 fw-bold pt-3">Naslov in pošta</div>
                <!--                NASLOV-->
                <div class="col-lg-5 col-12">
                    <Input v-model="customer.address"
                           :error="errors.address"
                           label="Naslov:"
                           placeholder="Brnčičeva ulica 13"
                           border-type="shadow"
                           name="address"
                    />
                </div>
                <div class="col-lg-4 col-12">
                    <Input v-model="customer.city"
                           :error="errors.city"
                           label="Mesto:"
                           placeholder="Črnuče"
                           border-type="shadow"
                           name="city"
                    />
                </div>
                <div class="col-lg-3 col-12">
                    <Input v-model="customer.zip"
                           :error="errors.zip"
                           label="Pošta"
                           placeholder="1231"
                           border-type="shadow"
                           name="postal-code"
                    />
                </div>
                <div class="col-12">
                    <div class="wpm-input-component">
                        <label>Država:</label>
                        <div class="admin-shop__input w-100">
                            <v-select placeholder="Slovenija"
                                      :options="countries"
                                      :class="{'error-border':errors.country}"
                                      label="name_si"
                                      name="country"
                                      :reduce="c => c.name_si"
                                      v-model="customer.country">
                            </v-select>
                            <div v-if="errors.country" class="error-label">{{ errors.country }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-12 fw-bold pt-3">Informacije</div>
                <!--                NASLOV-->
                <div class="col-12">
                    <Input v-model="customer.description"
                           :error="errors.description"
                           label="Opis:"
                           placeholder="Zelo pogosta stranka"
                           border-type="shadow"
                    />
                </div>


            </div>
        </div>

        <div class="d-flex justify-content-between align-items-start gap-4 mt-4 flex-wrap">
            <button class="buttonNoStyle text-decoration-underline" @click="$emit('close-add')">Nazaj</Button>
            <div class="d-flex gap-3">
                <Button v-if="customer.id"
                        custom-class="wpm-btn-component--danger"
                        @click="remove">Odstrani
                </Button>
                <Button custom-class="wpm-btn-component--main"
                        @click="store">Shrani
                </Button>
            </div>
        </div>
    </div>

</template>

<script>
import {clear_errors, err_format} from "wpm-starter";

export default {
    name: "EditCustomer",
    props: {
        selectedCustomer: Number | String,
    },
    data() {
        const initializeBusinessUnit = () => ({
            id: this.selectedCustomer,
            intern_name: null,
            title: null,
            description: null,
            name: null,
            surname: null,
            address: null,
            city: null,
            zip: null,
            country: null,
        });

        return {
            countries: window.$countries,
            customer: initializeBusinessUnit(),
            errors: initializeBusinessUnit(),
            loading: false,
        }
    },
    methods: {
        load() {
            this.loading = true;
            let url = "/api/customer/show/" + this.selectedCustomer;
            axios
                .get(url)
                .then(({data}) => {
                    this.customer = data.data;
                })
                .catch(error => {
                    this._handleErrorNotification(error);
                }).finally(() => {
                this.loading = false;
            });
        },
        remove() {
            let url = "/api/customer/delete/" + this.customer.id;
            axios
                .delete(url)
                .then(({data}) => {
                    this._success(data.message);
                    this.$emit("close-add")
                    this.$emit("reload");
                })
                .catch(error => {
                    this._handleErrorNotification(error);
                }).finally(() => {
                this.loading = false;
            });
        },
        store() {
            let url = "/api/customer/store";
            clear_errors(this.errors)

            axios
                .post(url, this.customer)
                .then(({data}) => {
                    this._success(data.message);
                    this.$emit("reload");
                    this.$emit("close-add")
                })
                .catch(({response}) => {
                    let {status, data} = response;
                    let {errors, message} = data;

                    if (status === 422) {
                        this.errors = err_format(errors);
                    } else {
                        this._error(message);
                    }
                }).finally(() => {
                this.loading = false;
            });
        },
    },
    mounted() {
        if (this.selectedCustomer)
            this.load();
    }
}
</script>