<template>
    <div class="row">
        <div class="col-9">
            <Section class="admin-shop__table-page">
                <div class="admin-shop__table-tab">
                    <div class="admin-shop__py d-flex align-items-end flex-wrap gap-4">
                        <Input placeholder="Iskanje"
                               label="Iskalni niz:"
                               v-model="filter.search"
                               border-type="shadow"
                               :icon-type="true"
                               @input="handleKeyup"
                        >
                            <span><i class="fas fa-search"></i></span>
                        </Input>

                        <div class="wpm-input-component" style="min-width: 200px">
                            <label>Status:</label>
                            <div class="admin-shop__input w-100">
                                <v-select placeholder="Izberite status"
                                          :options="STATUS_OPTIONS"
                                          :multiple="true"
                                          label="name"
                                          v-model="filter.status">
                                </v-select>
                            </div>
                        </div>
                        <div class="wpm-input-component" style="min-width: 200px">
                            <label>Stranke:</label>
                            <div class="admin-shop__input w-100">
                                <v-select placeholder="Izberi stranko"
                                          :options="customers"
                                          @search="debouncedSearchCustomers"
                                          @scroll="handleScroll"
                                          @open="attachScrollListener"
                                          :filterable="false"
                                          :loading="loading"
                                          :multiple="true"
                                          :searchable="true"
                                          v-model="filter.customers">
                                    <template #no-options>
                                        Vpiši za iskanje
                                    </template>
                                    <template #option="e">
                                        {{ e.full_name }}
                                    </template>
                                    <template #selected-option="e">
                                        {{ e.full_name }}
                                    </template>
                                </v-select>
                            </div>
                        </div>
                        <div class="wpm-input-component" style="min-width: 200px">
                            <label>Poslovne enote:</label>
                            <div class="admin-shop__input w-100">
                                <v-select placeholder="Izberi poslovno enoto"
                                          :options="business_units"
                                          @search="debouncedSearchUnits"
                                          @scroll="handleScroll"
                                          @open="attachScrollListener"
                                          :filterable="false"
                                          :loading="loading"
                                          :multiple="true"
                                          :searchable="true"
                                          v-model="filter.business_units">
                                    <template #no-options>
                                        Vpiši za iskanje
                                    </template>
                                    <template #option="e">
                                        {{ e.intern_name }}
                                    </template>
                                    <template #selected-option="e">
                                        {{ e.intern_name }}
                                    </template>
                                </v-select>
                            </div>
                        </div>
                        <div v-if="filter.business_units.length>0" class="wpm-input-component" style="min-width: 200px">
                            <label>Poslovni prostori:</label>
                            <div class="admin-shop__input w-100">
                                <v-select placeholder="Izberi poslovni prostor"
                                          :options="premises"
                                          @search="debouncedSearchPremises"
                                          @scroll="handleScroll"
                                          @open="attachScrollListener"
                                          :filterable="false"
                                          :loading="loading"
                                          :multiple="true"
                                          :searchable="true"
                                          v-model="filter.premises">
                                    <template #no-options>
                                        Vpiši za iskanje
                                    </template>
                                    <template #option="e">
                                        {{ e.intern_name }}
                                    </template>
                                    <template #selected-option="e">
                                        {{ e.intern_name }}
                                    </template>
                                </v-select>
                            </div>
                        </div>
                        <div v-if="filter.business_units.length>0" class="wpm-input-component"
                             style="min-width: 200px;">
                            <label>Elektronske naprave:</label>
                            <div class="admin-shop__input w-100">
                                <v-select placeholder="Izberi napravo"
                                          :options="registers"
                                          @search="debouncedSearchRegisters"
                                          @scroll="handleScroll"
                                          @open="attachScrollListener"
                                          :filterable="false"
                                          :loading="loading"
                                          :multiple="true"
                                          :searchable="true"
                                          v-model="filter.registers">
                                    <template #no-options>
                                        Vpiši za iskanje
                                    </template>
                                    <template #option="e">
                                        {{ e.intern_name }}
                                    </template>
                                    <template #selected-option="e">
                                        {{ e.intern_name }}
                                    </template>
                                </v-select>
                            </div>
                        </div>

                    </div>
                    <Table :columns="tableColumns"
                           :rows="list"
                           theme="box-shadow"
                           :searching="searching"
                           :appending="appending"
                           style="height: 70vh"
                           @bottom="handleScroll"
                           scrollable>
                        <template #id="{row}"><strong>{{ row.id }}</strong></template>
                        <template #issue_time="{row}"><strong>{{ _niceDate(row.created_at, row.created_at) }}</strong>
                        </template>
                        <template #number="{row}">{{ row.full_invoice_number }}</template>
                        <template #customer="{row}">{{ row.customer?.full_name }}</template>
                        <template #unit="{row}">{{ row.business_unit.intern_name }}</template>
                        <template #value="{row}">{{ _euro_format(row.InvoiceAmount) }}</template>
                        <template #status="{row}">{{ row.status }}</template>
                        <template #report_status="{row}">
                            <span v-if="row.report_status == 'successful'"><i class="fa fa-check text-success"/></span>
                            <span v-if="row.report_status == 'failed'"><i class="fa fa-times text-danger"/></span>
                        </template>
                        <template #actions="{row}">
                            <div class="d-flex justify-content-end gap-3">
                                <Button @click="openPreview(row)"
                                        custom-class="wpm-btn-component--main">
                                    Preglej
                                </Button>
                            </div>
                        </template>
                    </Table>
                </div>
            </Section>
        </div>
        <div class="col-3" v-if="pdfUrl">
            <Section class="h-100 position-relative">
                <Loader v-if="pdf_loader" :overlay="true"/>
                <iframe v-if="pdfUrl" :src="pdfUrl" width="100%" class="h-100"></iframe>
            </Section>
        </div>
    </div>

</template>
<script>
import paginate from "../../mixins/paginate.js";
import filter_options from "./Data/filter_options.js";

export default {
    name: "InvoicesPage",
    mixins: [paginate, filter_options],
    data() {
        return {
            query: {
                url: "/api/invoice/paginate",
                destination: "list",
            },
            pdfUrl: null,
            pdf_loader: false,
            filter: {
                search: null,
                status: null,
                business_units: [],
                premises: [],
                registers: [],
                customers: [],
            },
            tableColumns: [
                {name: 'ID', key: 'id'},
                {name: 'Izdaja', key: 'issue_time'},
                {name: 'Št. računa', key: 'number'},
                {name: 'Stranka', key: 'customer'},
                {name: 'Poslovna enota', key: 'unit'},
                {name: 'Znesek', key: 'value'},
                {name: 'Status', key: 'status'},
                {name: 'Status poročanja', key: 'report_status'},
                {name: '', key: 'actions'},
            ],
        }
    },
    methods: {
        async openPreview(row) {
            try {
                this.pdf_loader=true;
                const response = await axios.get(`/api/invoice/${row.id}/pdf`, {
                    responseType: 'blob'
                });
                this.pdfUrl = URL.createObjectURL(new Blob([response.data], {type: 'application/pdf'}));
            } catch (error) {
                console.error('Error fetching PDF', error);
            }
            this.pdf_loader=false;

        }
    },
    computed: {
        formattedFilter() {
            return {
                search: this.filter.search,
                status: this.filter.status,
                business_units: this.filter.business_units.map(e => e.id),
                premises: this.filter.premises.map(e => e.id),
                registers: this.filter.registers.map(e => e.id),
                customers: this.filter.customers.map(e => e.id),
            }
        }
    }
}
</script>
<style scoped>

</style>