//SYSTEM COLORS
$danger: #dc3545 !default;
$success: #198754 !default;
$white: #fff;
$black: #000;

$main: #173b73;
$primary: $main !default;
$main-background: rgba(9, 200, 194, 0.1);
$text-color: #646464;
$text-light: #bebebe;
$background: #f3f6f6;
$border-color: #dcdcdc;
$module: #f5f6fa;
$error-heavy: #ff0000;
$error-light: #ffe5e5;
$pending-heavy: #faec27;
$pending-light: #fdfbdf;
$active-heavy: #54cc3b;
$active-light: #e9f5e7;
$no-show-heavy: #646464;
$no-show-light: #dbdbdb;
$special-btn: #445352;

$font-size: 1rem;
$radius: 0;

// Layouts
$topbar-height: 3.5rem;

//INPUT VARIABLES
$input-border-color: $border-color;
$input-color: $text-color;
$input-placeholder: $text-light;
$input-font-size: $font-size*.9;

//BUTTONS
$button-font-size: $font-size*.9;
$button-primary-color: $main;
$button-danger-color: $danger;
$button-success-color: $success;
$button-radius: $radius;
$button-text-color: $white;
$button-dark-text-color: $black;

//SHADOWS
$box-shadow: 0px 2px 12px 0px #43434340;
