// Button component from wpm-starter
.wpm-btn-component {
    position: relative;
    display: inline-block;

    &__button {
        box-sizing: border-box;
        font-weight: 600;
        font-size: inherit;
        width: 100%;
        height: 100%;
        padding: 0.4rem 1.4rem;
        box-shadow: none;
        outline: none;
        border: 1px solid $main;
        background: $main;
        color: #fff;
        text-decoration: none;
        display: inline-block;

        &:hover {
            filter: brightness(0.8);
        }

        &:focus {
            outline: none;
        }

        &:disabled {
            pointer-events: none;
            opacity: 0.65;
        }
    }

    // custom styles for Button component
    &--main {
        background: $button-primary-color !important;
        border-color: $button-primary-color !important;
    }

    &--dark {
        background: $text-color !important;
        border-color: $text-color !important;
    }

    &--white {
        &-dark {
            background: #fff !important;
            color: $text-color !important;
            border-color: $text-color !important;
        }

        &-main {
            background: #fff !important;
            color: $button-primary-color !important;
            border-color: $button-primary-color !important;
        }
    }

    &--active {
        background: $active-heavy !important;
        border-color: $active-heavy !important;
    }

    &--success {
        background: $button-success-color !important;
        border-color: $button-success-color !important;
    }

    &--danger {
        background: $button-danger-color !important;
        border-color: $button-danger-color !important;
    }

    &--text-normal {
        text-transform: unset !important;
    }

    &--icon {
        border: none !important;
        background: none !important;
        color: $button-primary-color !important;
    }


    @media (max-width: 576px) {
        width: 100%;
    }
}

// button reset
.buttonNoStyle {
    color: $text-color;
    outline: none;
    background: transparent;
    border: none;

    &:focus {
        outline: none;
        background: transparent;
        border: none;
    }
}

.pos-tables-filter__button {
    &--4 {
        flex: 0 0 calc(25% - 0.5rem);
    }
    &--3 {
        flex: 0 0 calc(33% - 0.5rem);
    }
    &--5 {
        flex: 0 0 calc(20% - 0.5rem);
    }

    @include mobile {
        flex: 0 0 calc(33% - 0.5rem);
    }
}

.pos-orders__checkbox {
    box-shadow: $box-shadow;
    background: #fff;
    cursor: pointer;
    padding: 0.75rem 1.75rem;
    font-weight: bold;
    user-select: none;

    &--checked {
        background: $text-color;
        color: #fff;
    }
}

.cursor-pointer{
    cursor:pointer;
}

.no-radius{
    border-radius: 0;
}
