// global input styles
@mixin placeholder-style {
    &::placeholder {
        color: $text-light !important;
        font-size: $input-font-size !important;
    }
}

.admin-shop__input {
    input {
        @include placeholder-style;
    }

    // vue-select styles
    .v-select {
        width: 100%;
        height: 38px;
        padding: 0 7px;
        box-shadow: $box-shadow;
        background: #fff;

        input {
            border: none ;
            margin-top: 0 !important;
            height: 100%;

            &::placeholder {
                font-size: 0.9em !important;
            }
        }
        &.error-border{
            border: 1px solid $danger;
        }
        .vs__dropdown-toggle{
            padding: 0;
        }

        .vs__selected-options{
            align-items: center;

            .vs__selected {
                border: none !important;
                margin-top: 0 !important;
                height: fit-content !important;
                padding:3px 5px!important;
                margin-right: 5px;
            }

        }


        .vs__actions {
            padding: 0 !important;
        }

        .vs__clear {
            display: flex;
            align-items: center;
        }

        .vs__search {
            padding: 0 !important;
            margin: 0 !important;
            height: 100%;

            @include placeholder-style;
        }

        .vs__dropdown-toggle {
            width: 100%;
            height: 100%;
            border: none;
        }
    }
}

.vs__dropdown-menu {
    overflow-x: hidden !important;
    z-index: 10001 !important;
}

// Target all number inputs
input[type="number"] {
    // For Webkit browsers like Chrome and Safari
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    // For Firefox
    -moz-appearance: textfield;

    // For Microsoft Edge and Internet Explorer
    &::-ms-clear,
    &::-ms-reveal {
        display: none;
    }
}


// Input component from wpm-starter
.wpm-input-component {
    label {
        font-size: 0.8em;
        font-weight: 600;
        color: $text-color;
    }

    &__wrapper {
        position: relative;
        padding: 6px;
        width: 100%;
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;

        &--default {
            background-color: #fff;
            color: $input-border-color;
            border-radius: 0;
        }

        &--border {
            border: 1px solid #dcdcdc;
        }

        &--underline {
            border-bottom: 1px solid;
        }

        &--shadow {
            border: none;
            background-color: #fff;
            box-shadow: 0px 2px 12px 0px #43434340;
        }

        input, select {
            border-top-style: hidden;
            border-right-style: hidden;
            border-left-style: hidden;
            border-bottom-style: hidden;
            flex-grow: 1;
            max-width: 100%;
            min-width: 0;

            @include placeholder-style;

            &:focus-visible {
                outline: none;
            }
        }



        &.error-border{
            border: 1px solid $danger;
        }

    }

    &__icon-wrapper {
        padding: 0 6px;
    }

    .error-label{
        color: $danger;
        font-weight: bold;
        font-size: .8em;
    }
}
