.wpm-layout {
    width: 100vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
}

@media (max-width: 768px) {
    .wpm-layout {
        width: 100vw;
        height: 100vh;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        display: flex;

        .wpm-content {
            width:90% !important;
        }
    }
}

.cashier-container {

    height: 100%;
    padding-top: $topbar-height;
    background: $background;

    .cashier-topbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        box-shadow: 0px 0px 16px 0px #43434340;
        background: #fff;
        height: $topbar-height;
        display: flex;
        align-items: center;
        // z-index: 1000;

        &__logo {
            height: 100%;
            width: 65px;
            background: $main;
            display:flex;
            align-items: center;
            padding:10px;
            justify-content:center;

            img{
                width:100%;
                height: auto;
            }
        }

        &__user {
            padding: 0.2rem 1.25rem;

            @include mobile {
                font-size: 0.8rem;
            }
        }

        &__actions {
            padding: 0.2rem 1.25rem;
            margin-left: auto;

            @include mobile {
                padding-left: 0.25rem;
                padding-right:0.75rem;
            }

            button {
                color: $text-color;
                white-space: nowrap;
                display: flex;
                align-items: center;

                img {
                    height: 17px;
                    margin-left: 8px;
                }

                @include mobile {
                    span {
                        display: none;
                    }
                }
            }
        }
    }

    .cashier-dashboard-container {
        position: relative;
        height: 100%;
        padding-top: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .admin-sidebar-menu {
        margin-top: $topbar-height;
        padding-top: 0.5rem;
    }
}

.keyboardModal {
    .modal-window {
        max-width: 800px;
    }
}

.keyboardNumberModal {
    .modal-window {
        max-width: 800px;
    }
}

.admin-shop {
    &__input {
        width: 16rem;
        max-width: 100%;
    }

    &__box-shadow {
        box-shadow: $box-shadow;
        background: #fff;
    }

    &__status {
        display: inline-block;
        margin-left: 0.35rem;
        width: 10px;
        height: 10px;
        border-radius: 50%;

        &--opened {
            background: $active-heavy;
        }

        &--closed {
            background: $text-color;
        }
    }

    &__table-image {
        width: 50px;
        object-fit: contain;
    }

    &__totals {
        width: 25rem;
        max-width: 100%;
    }

    &__table-page {
        flex-grow: 1;
        
        .top-tabs-component {
            height: 100%;
            display:flex;
            flex-direction: column;

            &__content {
                flex-grow: 1;
            }

            &__tab {
                height: 100%;
                position: relative;
            }
        }
    }

    &__table-tab {
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}

.pos-layout {
    $sidebar: 30%;
    $mobile-btn: 40px;

    &__container {
        width: 100%;
        height: 100%;
        position: relative;

        display: flex;

        .pos-filter-buttons {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;

            &__btn {
                flex-grow: 1;
            }

            @include mobile {
                flex-wrap: nowrap;
                overflow-x: auto;
                padding-bottom: 0.5rem;

                &__btn {
                    flex-grow: unset;
                    min-width: 7.5rem;
                }
            }
        }

        @include mobile {
            padding-bottom: 30px;
        }
    }

    &__totals {
        height: 100%;
        width: $sidebar;
        min-width: 400px;
        padding-top: 0.5rem;

        background: #fff;
        box-shadow: 4px 0px 6px 0px #43434340;

        @include mobile {
            position: fixed;
            width: 100%;
            min-width: unset;
            padding-top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: fit-content;
            max-height: 90%;
            overflow-y: auto;
            z-index: 1;
            // padding-top: 3rem !important;

            &--height {
                height: 90%;
            }
        }

        &--mobile-btn {
            height: $mobile-btn;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                border: solid $text-color;
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 3px;
                transform: rotate(-135deg);
                -webkit-transform: rotate(-135deg);

                &.mobileOpen {
                    transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                }
            }

            .mobile-btn__price {
                position: absolute;
                right: 1rem;
                font-weight: 600;
            }
        }

        .pos-totals {
            position: relative;
            height: 100%;
            display: flex;
            flex-direction: column;
        
            &__buttons {
                .wpm-btn-component {
                    width: 100%;
                    height: 100%;
        
                    button {
                        text-transform: unset;
                    }
        
                    &--dark,
                    &--danger,
                    &--active {
                        padding: 0.75rem 1.4rem;
                    }
        
                }

                &--popup {
                    .wpm-btn-component {
                        &--main {
                            padding: 0.75rem 1.4rem;
                        }
                    }
                }
            }
            
            @include mobile {
                height: calc(100% - $mobile-btn);
                padding-top: 0 !important;

                &--mobile {
                    height: 0;
                    display: none;
                }
            }
        }
    }

    &__main {
        width: calc(100% - $sidebar);

        @include mobile {
            width: 100%;
        }
    }
}


