$modal-border-color: $border-color !default;
$modal-background-color: rgba(0, 0, 0, 0.5);

.modal-fade-enter-active, .modal-fade-leave-active {
    transition: opacity 0.3s;
}

.modal-fade-enter, .modal-fade-leave-to {
    opacity: 0;
}

.wpm-modal {
    background-color: $modal-background-color;
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    padding: 0.5rem;
    padding-top: $topbar-height;
    display: flex;
    align-items: center;
    z-index: 10000;

    &-window {
        background: #fff;
        border-radius: 5px;
        box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
        // max-width: 600px;
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        max-height: 85vh;
        display: flex;
        flex-direction: column;

        // &.fullSize {
        //     max-width: 1550px;
        //     padding: 1rem 2rem;
        // }

        &__content {
            padding: 1rem;
            overflow: auto;
        }

        &__footer {
            padding: 0.5rem 1rem;
        }

        .wpm-confirm {
            &-message {
                font-weight: 600;
                font-size: 1.1rem;
                padding-top: 0.25rem;
            }

            &-footer {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 0.25rem;

                &__button {
                    &--ok {
                        background-color: $main;
                        border-color: $main;
                    }

                    &--cancel {
                        background-color: $danger;
                        border-color: $danger;
                    }
                }
            }
        }
    }

    &.wpm-cashier-modal {
        .wpm-modal-window {
            &__header {
                background-color: $text-color;
                color: #fff;
                padding: 0.6rem 1rem;
                font-weight: 600;
                font-size: 1.2rem;
            }

            &__footer {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 0.5rem;

                .wpm-btn-component__button {
                    padding: 0.7rem 2.5rem;
                    font-size: 1rem;
                }
            }
        }

        &.wpm-full-keyboard {
            .wpm-modal-window {
                width: 800px;
                padding-bottom: 0.5rem;
            }
        }

        &.pos-scroll-table-modal {
            .wpm-modal-window {
                height: 90vh;
                display: flex;
                flex-direction: column;
        
                &__content {
                    flex-grow: 1;
                }
            }
        }
    }
}