
.custom-notification {
    font-weight: 600;
    margin: 5px 5px 0;
    font-size: 15px;
    padding: 12px 10px;
    color: #fff;
    background: lighten($main, 30);
    border-left: 5px solid $main;
}

.custom-notification.success {
    background: lighten($success, 10);
    border-left-color: $success;
}

.custom-notification.warn {
    background: lighten($warning, 10);
    border-left-color: $warning;
}

.custom-notification.error {
    background: lighten($danger, 10);
    border-left-color: $danger;
}

