.popup-container {
    position: relative;

    .popup-trigger {
        cursor: pointer;
    }

    .popup-content {
        position: absolute;
        background: white;
        padding: 10px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
        z-index: 10;
        min-width: 20vw;
        max-width: 100vw;
        top: 3em;
        right: 0;
        width: fit-content;

        .popup-header {
            display: flex;
            justify-content: flex-end;

            .popup-close {
                cursor: pointer;
            }
        }
    }
}
