$mobile-width: 768px;

@mixin mobile {
    @media only screen and (max-width: #{$mobile-width}) {
        @content;
    }
}

@mixin desktop {
    @media only screen and (min-width: #{$mobile-width + 1px}) {
        @content;
    }
}


@include mobile {
    .mobile-full-width {
        width: 100% !important;
    }    
    
    .hide-on-mobile {
        display: none !important;
    }
}

@include desktop {
    .hide-on-desktop {
        display: none !important;
    }
}
