
// Custom Scrollbar
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    cursor: pointer;

    @include mobile {
        width: 5px;
        height: 5px;
    }

}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    cursor: pointer;

}

::-webkit-scrollbar-thumb {
    background: $main;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background: rgba($main, .8);
    }
}