.wpm-table-row--selected {
    background: $text-color !important;
    color: #fff !important;
}

.wpm-table-data__long {
    max-width: 26ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@include mobile {
    .wpm-table-container {
        td {
            padding: 0.3rem 1.3rem !important;
        }
    }
}

.pos-details__table-row {

    td {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        &.article-title-td {
            width: 100%;
        }

        &.article-price-td {
            white-space: nowrap;
            // min-width: 100px;
        }
    }

    .pos-item-input {
        width: 6.5rem;
    }

    &--notes {
        td {
            padding-bottom: 0;
        }
    }

    
    .cpm-count {
        padding: 0 14px;
    }

    @include mobile {
        // tr {
        //     display: flex;
        //     align-items: center;
        //     flex-wrap: wrap;

        //     td {
        //         &.article-title-td {
        //             width: unset;
        //             flex-grow: 1;
        //         }

        //         &.article-price-td {
        //             width: 100%;
        //             padding-top: 0;
        //         }
        //     }
        // }
    }

}