.toggle-switch {
  display: flex;

  &.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &__option {
    cursor: pointer;
    padding: 3px 15px;
    background-color: $background;
    border-radius: 0; // Reset border radius
    transition: background-color 0.3s ease;

    &:first-child {
      border-top-left-radius: 20px; // Apply border radius to top-left corner
      border-bottom-left-radius: 20px; // Apply border radius to bottom-left corner
    }

    &:last-child {
      border-top-right-radius: 20px; // Apply border radius to top-right corner
      border-bottom-right-radius: 20px; // Apply border radius to bottom-right corner
    }

    &.active {
      background-color: $main;
      color: $white;
      transform: translateX(0); // Initial position
    }

    &.disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }
}

.orders-merging-toggle {
    .toggle-switch {
        box-shadow: $box-shadow;

        &__option {
            background: $white;
            color: $special-btn;
            padding: 0.75rem 1.75rem;
            font-weight: bold;
            user-select: none;
            border-radius: 0 !important;

            &.active {
                background-color: $special-btn;
                color: $white;
            }

            @include mobile {
                padding: 0.5rem 1rem;
            }
        }
    }
}