<template>
    <Section class="admin-shop__table-page">
        <div class="admin-shop__table-tab">
            <div class="admin-shop__py d-flex align-items-end flex-wrap gap-4">
                <div class="admin-shop__input mobile-full-width">
                    <Input placeholder="Iskanje"
                           v-model="filter.search"
                           border-type="shadow"
                           :icon-type="true"
                           @input="handleKeyup"
                    >
                        <span><i class="fas fa-search"></i></span>
                    </Input>
                </div>
                <div class="ms-auto">
                    <Button type="link"
                            to="/poslovne-enote/uredi"
                            custom-class="wpm-btn-component--dark">
                        + Dodaj enoto
                    </Button>
                </div>
            </div>
            <Table :columns="tableColumns"
                   :rows="list"
                   theme="box-shadow"
                   :searching="searching"
                   :appending="appending"
                   @bottom="handleScroll"
                   scrollable>
                <template #id="{row}"><strong>{{ row.id }}</strong></template>
                <template #intern_name="{row}"><strong>{{ row.intern_name }}</strong></template>
                <template #title="{row}">{{ row.title }}</template>
                <template #tax_number="{row}">{{ row.TaxNumber }}</template>
                <template #street="{row}">{{ row.Street }} {{ row.HouseNumber }}{{ row.HouseNumberAdditional }}
                </template>
                <template #city="{row}">{{ row.City }}</template>

                <template #actions="{row}">
                    <div class="d-flex justify-content-end gap-3">
                        <Button type="link"
                                :to="'/poslovne-enote/uredi/'+row.id"
                                custom-class="wpm-btn-component--main">Preglej
                        </Button>
                    </div>
                </template>
            </Table>
        </div>
    </Section>
</template>

<script>
import paginate from "../../mixins/paginate.js";

export default {
    name: "BusinessUnitsPage",
    mixins: [paginate],
    data() {
        return {
            edit_path: "/poslovne-enote/uredi",
            edit_tab: {'tab':'unit-info'},
            query: {
                url: "/api/business-unit/paginate",
                destination: "list",
            },
            tableColumns: [
                {name: 'ID', key: 'id'},
                {name: 'Interno ime', key: 'intern_name'},
                {name: 'Naziv enote', key: 'title'},
                {name: 'Davčna številka', key: 'tax_number'},
                {name: 'Ulica', key: 'street'},
                {name: 'Kraj', key: 'city'},
                {name: '', key: 'actions'},
            ],
        }
    }
}
</script>