<template>
    <Section class="admin-shop__table_page">
        <TopTabs :tab-format="tabFormat"
                 :set-tab="'unit-info'"
        >
            <template #unit-info>
                <UnitInfoTab/>
            </template>
            <template #premises>
                <PremisesTab :business-unit="businessUnit"/>
            </template>
            <template #registers>
                <RegistersTab :business-unit="businessUnit"/>
            </template>
            <template #operators>
                <OperatorsTab :business-unit="businessUnit"/>
            </template>

        </TopTabs>

    </Section>
</template>
<script>
import topTabs from "./Data/top-tabs.js";
import UnitInfoTab from "./Tabs/UnitInfoTab.vue";
import PremisesTab from "./Tabs/PremisesTab.vue";
import RegistersTab from "./Tabs/RegistersTab.vue";
import OperatorsTab from "./Tabs/OperatorsTab.vue";

export default {
    name: "EditBusinessUnitPage",
    components: {OperatorsTab, RegistersTab, PremisesTab, UnitInfoTab},
    data() {
        return {
            section: "Poslovne enote",
            businessUnit: null,
        }
    },
    methods: {
        loadUnit() {
            let url = "/api/business-unit/show/" + this.$route.params.id;
            axios
                .get(url)
                .then(({data}) => {
                    this.businessUnit = data.data;
                })
                .catch(error => {
                    this._handleErrorNotification(error);
                }).finally(() => {
                this.loading = false;
            });
        },
    },
    computed: {
        tabFormat() {
            let tabs = [
                {
                    tab_key: "unit-info",
                    tab_label: this.$route.params.id ? "Uredi enoto" : "Dodaj enoto"
                }
            ];
            if (this.$route.params.id) {
                tabs = [
                    ...tabs,
                    {
                        tab_key: "premises",
                        tab_label: "Poslovni prostori"
                    },
                    {
                        tab_key: "registers",
                        tab_label: "Elektronske naprave"
                    },
                    {
                        tab_key: "operators",
                        tab_label: "Operaterji blagajn"
                    }
                ];
            }
            return tabs;
        }
    },
    mounted() {
        this.loadUnit();
    }

}
</script>

<style scoped lang="scss">

</style>