<template>
    <div class="p-4 admin-shop-product">
        <Loader v-if="loading" :overlay="true"/>
        <div class="d-flex align-items-center justify-content-between">
            <h4 class="fw-bolder">{{ payment_type.id ? 'Uredi ' + payment_type.name : 'Nov način plačila' }}</h4>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <Input v-model="payment_type.name"
                           :error="errors.name"
                           label="Naziv:"
                           placeholder="Kreditna kartica"
                           border-type="shadow"
                    />
                </div>
                <div class="col-lg-6 col-12">
                    <Input v-model="payment_type.key"
                           :error="errors.key"
                           label="Ključ:"
                           placeholder="credit-card"
                           border-type="shadow"
                    />
                </div>
                <div class="col-12">
                    <div class="wpm-input-component">
                        <label>Status:</label>
                        <Toggle v-model="payment_type.active"  :options="status_options"/>
                    </div>
                </div>
            </div>
        </div>


        <div class="d-flex justify-content-between align-items-start gap-4 mt-4 flex-wrap">
            <button class="buttonNoStyle text-decoration-underline" @click="$emit('close-add')">Nazaj</Button>
            <div class="d-flex gap-3">
                <Button v-if="payment_type.id"
                        custom-class="wpm-btn-component--danger"
                        @click="remove">Odstrani
                </Button>
                <Button custom-class="wpm-btn-component--main"
                        @click="store">Shrani
                </Button>
            </div>
        </div>
    </div>
</template>
<script>
import {clear_errors, err_format} from "wpm-starter";

export default {
    name: "EditPaymentType",
    props: {
        selectedPaymentType: String | Number,
    },
    data() {
        const initPaymentType = () => ({
            id: this.selectedPaymentType,
            name: null,
            key: null,
            active: false,
        });

        return {
            payment_type: initPaymentType(),
            errors: initPaymentType(),
            loading: false,
            status_options: [
                {
                    label: "Aktiven",
                    value: true,
                },
                {
                    label: "Neaktiven",
                    value: false,
                }
            ]
        }
    },
    methods: {
        load() {
            this.loading = true;
            let url = "/api/payment-type/show/" + this.selectedPaymentType;
            axios
                .get(url)
                .then(({data}) => {
                    this.payment_type = data.data;
                })
                .catch(error => {
                    this._handleErrorNotification(error);
                }).finally(() => {
                this.loading = false;
            });
        },
        remove() {
            let url = "/api/payment-type/delete/" + this.payment_type.id;
            axios
                .delete(url)
                .then(({data}) => {
                    this._success(data.message);
                    this.$emit("close-add")
                    this.$emit("reload");
                })
                .catch(error => {
                    this._handleErrorNotification(error);
                }).finally(() => {
                this.loading = false;
            });
        },
        store() {
            let url = "/api/payment-type/store";
            clear_errors(this.errors)

            axios
                .post(url, this.payment_type)
                .then(({data}) => {
                    this._success(data.message);
                    this.$emit("close-add")
                    this.$emit("reload");
                })
                .catch(({response}) => {
                    let {status, data} = response;
                    let {errors, message} = data;

                    if (status === 422) {
                        this.errors = err_format(errors);
                    } else {
                        this._error(message);
                    }
                }).finally(() => {
                this.loading = false;
            });
        }
    },
    mounted() {
        if (this.selectedPaymentType)
            this.load();
    }
}
</script>
