<template>
    <Section class="position-relative">
        <Loader v-if="loading" :overlay="true"/>
        <div class="border-bottom">
            <div class="fw-bold text__secondary text-decoration-none">
                <h5>Načini plačila</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="text-end mt-2">
                    <Button custom-class="wpm-btn-component--dark"
                            @click="addPaymentType"
                    >
                        <i class="fa" :class="{'fa-plus':!add_payment_type, 'fa-times': add_payment_type }"></i>{{ }}
                    </Button>
                </div>
                <Table :columns="tableColumns"
                       style="height: 60vh"
                       class="p-0 mt-0 fs-smaller"
                       :rows="list"
                       :searching="searching"
                       :appending="appending"
                       theme="box-shadow"
                       @bottom="handleScroll"
                       scrollable>
                    <template #id="{row}"><strong>{{ row.id }}</strong></template>
                    <template #name="{row}"><strong>{{ row.name }}</strong></template>
                    <template #key="{row}">{{ row.key }}</template>
                    <template #status="{row}" >
                        <div class="text-center">
                            <i v-if="row.active" class="fa fa-check text-success"/>
                            <i v-else class="fa fa-times text-danger"/>
                        </div>
                    </template>

                    <template #actions="{row}">
                        <div class="d-flex justify-content-end gap-3">
                            <Button @click="selectPaymentType(row.id)"
                                    custom-class="wpm-btn-component--main"><i class="fa fa-edit" />
                            </Button>
                        </div>
                    </template>
                </Table>
            </div>
            <div class="col-lg-6 col-12" v-if="add_payment_type">
                <EditPaymentType :selected-payment-type="selected_payment_type_id"
                                 :key="selected_payment_type_id + 'a'+add_payment_type"
                                 @close-add="addPaymentType"
                                 @reload="search(true)"
                />
            </div>
        </div>
    </Section>
</template>
<script>
import paginate from "../../../mixins/paginate.js";
import EditPaymentType from "./EditPaymentType.vue";

export default {
    name: "PaymentTypes",
    components: {EditPaymentType},
    mixins: [paginate],
    data() {
        return {
            add_payment_type: false,
            selected_payment_type_id: null,
            loading: false,
            query: {
                url: "/api/payment-type/paginate",
                destination: "list",
            },
            filter: {
                search: null,
            },
            tableColumns: [
                {name: 'ID', key: 'id'},
                {name: 'Ime', key: 'name'},
                {name: 'Ključ', key: 'key'},
                {name: 'Status', key: "status"},
                {name: '', key: "actions"},
            ],
        }
    },
    methods: {
        selectPaymentType(payment_type_id) {
            this.selected_payment_type_id = payment_type_id;
            this.add_payment_type = true;
        },
        addPaymentType() {
            this.selected_payment_type_id = null;
            this.add_payment_type = !this.add_payment_type;
        }
    },
}
</script>


<style scoped lang="scss">

</style>