<template>
    <div class="row">
        <div class="col-12">
            <div class="row p-2 d-flex align-items-center">
                <div class="col-lg-6 col-12">
                    <Input v-model="newKey"
                           label="Ključ za identifikacijo konfiguracije:"
                           placeholder="sales"
                           border-type="shadow"
                    />
                </div>
                <div class="col-lg-6 col-12">
                    <div class="wpm-input-component">
                        <label></label>
                        <div class="wpm-input-component__wrapper">
                            <Button @click="addConfiguration">Dodaj</Button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex align-items-center" v-for="(configuration, key) in premiseConfiguration" :key="key">

                <div class="wpm-input-component col-1">
                    <label></label>
                    <div class="wpm-input-component__wrapper">
                        <span class="fw-bold">{{key}}</span>
                    </div>
                </div>
                <div class="wpm-input-component col-3" style="min-width: 200px">
                    <label>Poslovna enota:</label>
                    <div class="admin-shop__input w-100">
                        <v-select placeholder="Izberi poslovno enoto"
                                  :options="business_units"
                                  @search="debouncedSearchUnits"
                                  @scroll="handleScroll"
                                  @open="attachScrollListener(key)"
                                  :filterable="false"
                                  :loading="loading"
                                  :searchable="true"
                                  v-model="configuration.business_unit">
                            <template #no-options>
                                Vpiši za iskanje
                            </template>
                            <template #option="e">
                                {{ e.intern_name }}
                            </template>
                            <template #selected-option="e">
                                {{ e.intern_name }}
                            </template>
                        </v-select>
                    </div>
                </div>
                <div class="wpm-input-component col-3" style="min-width: 200px">
                    <label>Poslovni prostor:</label>
                    <div class="admin-shop__input w-100">
                        <v-select placeholder="Izberi poslovni prostor"
                                  :options="premises"
                                  @search="debouncedSearchPremises"
                                  @scroll="handleScroll"
                                  @open="attachScrollListener(key)"
                                  :filterable="false"
                                  :loading="loading"
                                  :searchable="true"
                                  v-model="configuration.premise">
                            <template #no-options>
                                Vpiši za iskanje
                            </template>
                            <template #option="e">
                                {{ e.intern_name }}
                            </template>
                            <template #selected-option="e">
                                {{ e.intern_name }}
                            </template>
                        </v-select>
                    </div>
                </div>
                <div class="wpm-input-component col-3" style="min-width: 200px;">
                    <label>Elektronska naprava:</label>
                    <div class="admin-shop__input w-100">
                        <v-select placeholder="Izberi napravo"
                                  :options="registers"
                                  @search="debouncedSearchRegisters"
                                  @scroll="handleScroll"
                                  @open="attachScrollListener(key)"
                                  :filterable="false"
                                  :loading="loading"
                                  :searchable="true"
                                  v-model="configuration.cash_register">
                            <template #no-options>
                                Vpiši za iskanje
                            </template>
                            <template #option="e">
                                {{ e.intern_name }}
                            </template>
                            <template #selected-option="e">
                                {{ e.intern_name }}
                            </template>
                        </v-select>
                    </div>
                </div>
                <div class="wpm-input-component col-2">
                    <label></label>
                    <div class="wpm-input-component__wrapper">
                        <Button @click="handleEmit"><i class="fa fa-save"></i></Button>
                    </div>
                </div>

            </div>
            <div class="mt-3 text-end">
                <Button class="wpm-btn-component" @click="$emit('store')">Shrani</Button>
            </div>
        </div>
    </div>
</template>

<script>
import search_options from "../mixins/search_options.js";

export default {
    name: "PremiseConfigurator",
    mixins: [search_options],
    props: {
        modelValue: {
            type: Object,
            required: true,
        },
    },
    data() {
        return {
            filter: {
                search: null,
                status: null,
                business_units: [],
                premises: [],
                registers: [],
                customers: [],
            },
            newKey: '',
            premiseConfiguration: this.modelValue
        };
    },
    watch: {
        modelValue(newValue) {
            this.premiseConfiguration = newValue;
        }
    },
    methods: {
        addConfiguration() {
            if (this.newKey) {
                this.premiseConfiguration = {
                    ...this.premiseConfiguration,
                    [this.newKey]: {
                        business_unit: null,
                        premise: null,
                        cash_register: null,
                    }
                }
                this.handleEmit();
                this.newKey = '';
            }
        },
        handleEmit() {
            this.$emit('update:modelValue', this.premiseConfiguration)
        }
    },
    computed: {
        formattedFilter() {
            return {
                business_units: this.filter.business_units.map(e => e.id),
                premises: this.filter.premises.map(e => e.id),
                registers: this.filter.registers.map(e => e.id),
            }
        }
    }

};
</script>
