<template>
    <Section>
        <div class="p-4 admin-shop-product">
            <div class="d-flex align-items-center justify-content-between">
                <h4 class="fw-bolder">Stranke</h4>
            </div>
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="admin-shop__table-tab">
                        <div class="admin-shop__py d-flex align-items-end flex-wrap gap-4">
                            <div class="admin-shop__input mobile-full-width">
                                <Input placeholder="Iskanje"
                                       v-model="filter.search"
                                       border-type="shadow"
                                       :icon-type="true"
                                       @input="handleKeyup"
                                >
                                    <span><i class="fas fa-search"></i></span>
                                </Input>
                            </div>
                            <div class="ms-auto">
                                <Button custom-class="wpm-btn-component--dark"
                                        @click="addCustomer"
                                >
                                    {{ add_customer ? "Zapri urejanje stranke" : "+ Dodaj stranko" }}
                                </Button>
                            </div>
                        </div>
                        <Table :columns="tableColumns"
                               style="height: 60vh"
                               class="p-0"
                               :rows="list"
                               :searching="searching"
                               :appending="appending"
                               theme="box-shadow"
                               @bottom="handleScroll"
                               scrollable>
                            <template #id="{row}"><strong>{{ row.id }}</strong></template>
                            <template #intern_name="{row}">{{row.intern_name}}</template>
                            <template #company_name="{row}">{{row.title}}</template>
                            <template #name="{row}"><strong>{{ row.surname }} {{row.name}}</strong></template>
                            <template #tax_number="{row}">{{ row.tax_number }}</template>
                            <template #address="{row}">{{ row.address }}, {{row.zip}} {{row.city}} {{row.country}}</template>

                            <template #actions="{row}">
                                <div class="d-flex justify-content-end gap-3">
                                    <Button @click="selectCustomer(row.id)"
                                            custom-class="wpm-btn-component--main">Preglej
                                    </Button>
                                </div>
                            </template>
                        </Table>
                    </div>
                </div>
                <div class="col-lg-6 col-12" v-if="add_customer">
                    <EditCustomer :selected-customer="selected_customer_id"
                                  :key="selected_customer_id+'a'+add_customer"
                                  @close-add="addCustomer"
                                  @reload="search(true)"
                    />
                </div>
            </div>
        </div>
    </Section>
</template>


<script>

import EditCustomer from "./Widgets/EditCustomer.vue";
import paginate from "../../mixins/paginate.js";

export default {
    name: "CustomersPage",
    components: {EditCustomer},
    mixins: [paginate],
    data() {
        return {
            add_customer: false,
            selected_customer_id: null,
            query: {
                url: "/api/customer/paginate",
                destination: "list",
            },
            tableColumns: [
                {name: 'ID', key: 'id'},
                {name: 'Interno ime', key: 'intern_name'},
                {name: 'Ime podjetja', key: 'company_name'},
                {name: 'Ime in priimek', key: 'name'},
                {name: 'Davčna številka', key: 'tax_number'},
                {name: '', key: 'actions'},
            ],
        }
    },
    methods: {
        selectCustomer(customer_id) {
            this.selected_customer_id = customer_id;
            this.add_customer = true;
        },
        addCustomer() {
            this.selected_customer_id = null;
            this.add_customer = !this.add_customer;
        }
    }
}
</script>

<style scoped lang="scss">

</style>