<template>
    <Scroll>
        <div class="row gy-4">
            <div class="col-lg-6 col-12">
                <div class="row gy-4">
                    <div class="col-12 position-relative">
                        <Section>
                            <Loader v-if="company_seat_loading" :overlay="true"/>
                            <div class="border-bottom">
                                <div class="fw-bold text__secondary text-decoration-none">
                                    <h5>Sedež podjetja</h5>
                                </div>
                            </div>
                            <div class="row p-2">
                                <div class="col-lg-6 col-12">
                                    <Input v-model="settings.company_name"
                                           :error="errors.company_name"
                                           label="Naziv podjetja:"
                                           placeholder="WPM d.o.o"
                                           border-type="shadow"
                                           name="organization"
                                    />
                                </div>
                                <div class="col-lg-6 col-12">
                                    logo comes here
                                </div>
                                <div class="col-lg-6 col-12">
                                    <Input v-model="settings.street"
                                           :error="errors.street"
                                           label="Ulica:"
                                           placeholder="Brnčičeva ulica"
                                           border-type="shadow"
                                           name="address-line1"
                                    />
                                </div>
                                <div class="col-lg-3 col-12">
                                    <Input v-model="settings.house_number"
                                           :error="errors.house_number"
                                           label="Hišna številka:"
                                           placeholder="13"
                                           border-type="shadow"
                                           name="address-line2"
                                    />
                                </div>
                                <div class="col-lg-3 col-12">
                                    <Input v-model="settings.house_number_additional"
                                           :error="errors.house_number_additional"
                                           label="Dodatek hišne številke:"
                                           placeholder="a"
                                           border-type="shadow"
                                           name="address-line3"
                                    />
                                </div>
                                <div class="col-lg-3 col-12">
                                    <Input v-model="settings.zip"
                                           :error="errors.zip"
                                           label="Poštna številka:"
                                           placeholder="1231"
                                           border-type="shadow"
                                           name="postal-code"
                                    />
                                </div>
                                <div class="col-lg-5 col-12">
                                    <Input v-model="settings.city"
                                           :error="errors.city"
                                           label="Kraj:"
                                           placeholder="Črnuče"
                                           border-type="shadow"
                                           name="address-level2"
                                    />
                                </div>
                                <div class="col-lg-4 col-12">
                                    <Input v-model="settings.community"
                                           :error="errors.community"
                                           label="Občina:"
                                           placeholder="Ljubljana"
                                           border-type="shadow"
                                           name="address-level1"
                                    />
                                </div>
                                <div class="col-lg-6 col-12">
                                    <Input v-model="settings.vat_number"
                                           :error="errors.vat_number"
                                           label="Davčna številka:"
                                           placeholder="12345678"
                                           border-type="shadow"
                                           name="off"
                                    />
                                </div>
                                <div class="col-lg-6 col-12">
                                    <Input v-model="settings.register_number"
                                           :error="errors.register_number"
                                           label="Matična številka:"
                                           placeholder="0123456789"
                                           border-type="shadow"
                                           name="off"
                                    />
                                </div>
                                <div class="col-lg-6 col-12">
                                    <Input v-model="settings.email"
                                           :error="errors.email"
                                           label="E-poštni naslov:"
                                           placeholder="info@example.com"
                                           border-type="shadow"
                                           name="email"
                                    />
                                </div>
                                <div class="col-lg-6 col-12">
                                    <Input v-model="settings.phone_number"
                                           :error="errors.phone_number"
                                           label="Telefonska številka"
                                           placeholder="+386 31 123 456"
                                           border-type="shadow"
                                           name="tel"
                                    />
                                </div>
                                <div class="col-12">
                                    <Input v-model="settings.iban"
                                           :error="errors.iban"
                                           label="Številka bančnega računa"
                                           placeholder="SI65 1233 2424 3242 5213"
                                           border-type="shadow"
                                           name="tel"
                                    />
                                </div>
                            </div>
                            <div class="text-end">
                                <Button @click="store">Shrani<i class="ms-1 fa fa-save"/></Button>
                            </div>
                        </Section>
                    </div>
                    <div class="col-12">
                        <Section class="position-relative">
                            <Loader v-if="company_seat_loading" :overlay="true"/>
                            <div class="border-bottom">
                                <div class="fw-bold text__secondary text-decoration-none">
                                    <h5>Delovanje davčne blagajne</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <PremiseConfigurator v-model="settings.premise_configuration" @store="store"/>
                                </div>
                            </div>
                        </Section>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <PaymentTypes/>
            </div>
        </div>
    </Scroll>
</template>

<script>
import {clear_errors, DragDrop, err_format} from "wpm-starter"
import PaymentTypes from "./Widgets/PaymentTypes.vue";
import PremiseConfigurator from "./Widgets/PremiseConfigurator.vue";

export default {
    name: "SettingsPage",
    components: {
        PremiseConfigurator,
        PaymentTypes,
        DragDrop
    },
    data() {
        const initialSettings = () => ({
            company_name: null,
            street: null,
            house_number: null,
            house_number_additional: null,
            community: null,
            city: null,
            zip: null,
            vat_number: null,
            register_number: null,
            phone_number: null,
            email: null,
            iban: null,
            premise_configuration: {},
        });

        return {
            settings: initialSettings(),
            errors: initialSettings(),
            company_seat_loading: false,
        }
    },
    methods: {
        handleLogoUpload() {

        },
        store() {
            this.company_seat_loading = true;
            clear_errors(this.errors)
            let url = "/api/settings/store-info";
            axios
                .post(url, this.settings)
                .then(({data}) => {
                    this._success(data.message);
                })
                .catch(({response}) => {
                    let {status, data} = response;
                    let {errors, message} = data;

                    if (status === 422) {
                        this.errors = err_format(errors);
                    } else {
                        this._error(message);
                    }
                }).finally(() => {
                this.company_seat_loading = false;
            });
        },
        loadSettings() {
            this.company_seat_loading = true;
            let url = "/api/settings/load";
            axios
                .get(url)
                .then(({data}) => {
                    this.settings = data.data;
                    if (typeof this.settings.premise_configuration != 'object') {
                        this.settings.premise_configuration = {};
                    }
                })
                .catch(error => {
                    this._handleErrorNotification(error);
                }).finally(() => {
                this.company_seat_loading = false;
            });
        },
    },
    mounted() {
        this.loadSettings();
    }
}
</script>

<style scoped lang="scss">

</style>